<div class="newsletter-lane">
    <div class="center newsletter-lane__center">
        {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="newsletter" texto="Cadastre seu e-mail e receba promoções e novidades exclusivas" label_email="E-mail:" placeholder_email="Seu E-mail:" texto_botao="Enviar"}}
    </div>
</div>
<div class="menus-lane">
    <div class="center menus-lane__center">
        <div class="footer-menu">
            <h4 class="footer-menu__title">Central de Atendimento</h4>
            <span class="footer-menu__phone">{{config path="general/store_information/phone"}}</span>
            <span class="footer-menu__support">{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="24"}}</span>
            <span class="footer-menu__email">{{config path="trans_email/ident_sales/email"}}</span>
        </div>
        <div class="footer-menu">
            <h4 class="footer-menu__title">
                Principais Categorias
            </h4>
            {{widget type="menubuilder/output" id="8" template="menubuilder/output.phtml"}}
        </div>
        <div class="footer-menu">
            <h4 class="footer-menu__title">
                Tire suas Dúvidas
            </h4>
            {{widget type="menubuilder/output" id="5" template="menubuilder/output.phtml"}}
        </div>
        <div class="footer-menu">
            <h4 class="footer-menu__title">
                Acesse sua Conta
            </h4>
            {{widget type="menubuilder/output" id="3" template="menubuilder/output.phtml"}}
        </div>
        <div class="footer-menu">
            <h4 class="footer-menu__title">
                Formas de Pagamento
            </h4>
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payment" pagtos="all"}}
        </div>
        <div class="footer-menu">
            <h4 class="footer-menu__title">
                Formas de Envio
            </h4>
            {{widget type="interface/widget_envios" template="interface/widgets/envios.phtml" identificador="shippinug" envios="2,3,4"}}
        </div>
        <div class="footer-menu">
            <h4 class="footer-menu__title">
                Website Seguro
            </h4>
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="seals" seals="all"}}
        </div>
    </div>
</div>
<div class="copyright-lane">
    <div class="center copyright-lane__center icon--logo2">
        <div class="copyright">
            {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="25"}}
        </div>
    </div>
</div>
