<div class="showcase-lane">
    <div class="center showcase-lane__center">
        <ul class="tabs-list">
            <li class="tabs-list__item tabs-list__item--active" data-target="1">
                Brinquedos
            </li>
            <li class="tabs-list__item" data-target="2">
                Séries de TV
            </li>
            <li class="tabs-list__item" data-target="3">
                Cinema
            </li>
        </ul>
        <ul class="content-list">
            <li class="content-list__item content-list__item--1 content-list__item--active">
                {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="brinquedos" categoria="44,51,56,57,73" carrossel="1" limite="8" markup="<h2 class='product__header'> <a href='@url' itemprop='url' title='Mais detalhes' class='product-link'> <span class='product__image product-image'>@foto(600x600)</span> </a> @selos</h2><div class='product__main'> <a href='@url' title='@nome(100)' class='product__name'>@nome</a> <div class='product__infos'> <div class='product__prices'> @if(is_disponivel) @avaliacoes @preco @preco(parcelado) @else(is_disponivel) <div class='product__out'>Produto Esgotado</div> @endif(is_disponivel) </div> </div></div>"}}
            </li>
            <li class="content-list__item content-list__item--2">
                {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="series" categoria="2" carrossel="1" limite="8" markup="<h2 class='product__header'> <a href='@url' itemprop='url' title='Mais detalhes' class='product-link'> <span class='product__image product-image'>@foto(600x600)</span> </a> @selos</h2><div class='product__main'> <a href='@url' title='@nome(100)' class='product__name'>@nome</a> <div class='product__infos'> <div class='product__prices'> @if(is_disponivel) @avaliacoes @preco @preco(parcelado) @else(is_disponivel) <div class='product__out'>Produto Esgotado</div> @endif(is_disponivel) </div> </div></div>"}}
            </li>
            <li class="content-list__item content-list__item--3">
                {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="brinquedos" categoria="44,51,56,57,73" carrossel="1" limite="8" markup="<h2 class='product__header'> <a href='@url' itemprop='url' title='Mais detalhes' class='product-link'> <span class='product__image product-image'>@foto(600x600)</span> </a> @selos</h2><div class='product__main'> <a href='@url' title='@nome(100)' class='product__name'>@nome</a> <div class='product__infos'> <div class='product__prices'> @if(is_disponivel) @avaliacoes @preco @preco(parcelado) @else(is_disponivel) <div class='product__out'>Produto Esgotado</div> @endif(is_disponivel) </div> </div></div>"}}
            </li>
        </ul>
    </div>
</div>
