<h2 class='product__header'>
    <a href='@url' itemprop='url' title='Mais detalhes' class='product-link'>
        <span class='product__image product-image'>@foto(190x190)</span>
    </a>
</h2>
<div class='product__main'>
    <a href='@url' title='@nome(100)' class='product__name'>@nome</a>
    <div class="product__infos">
        <div class="product__prices">
            @if(is_disponivel)
                @preco
                @preco(parcelado)
                @preco(avista)
	              @bt(comprar "Comprar")
            @else(is_disponivel)
                <div class='product__out'>Produto Esgotado</div>
            @endif(is_disponivel)
        </div>
    </div>

</div>
