/**
*
* CSS Editável
* Tema:     Neon
* Arquivo:  editable.css
*
* Use este arquivo para remover ou alterar
* partes do CSS do tema atual que você
* precisa personalizar
*
* Este CSS estiliza apenas o header, footer e o responsivo
* Excluí-lo não afetará o funcionamento do site como desktop
*
* .block
* .block__element
* .block--modifier
*
*/

/* ------ Estrutura */
/* ~992px */
@media (max-width:62rem){
    .wrapper-container{ padding-top: 5.75rem }
    .sidebar{
        position: fixed;
        top: -9999px;
        left: -9999px;
        z-index: 9999;
    }
}
/* ~568px */
@media (max-width: 35.5rem){
    .wrapper-container{ padding-top: 4rem }
}

/* ------ Formulários */
/* ~568px */
@media (max-width: 35.5rem){
    .options input.datetime-picker{ @flex(0 0 5rem) }
}

/* ------ Newsletter */
/* ~568px */
@media (max-width: 35.5rem){
    .newsletter__form{ display: block }
}

/* ------ .page-title */
/* ~768px */
@media (max-width: 48rem){
    .page-title h1{ font-size: 2rem }
}

/* ------ Busca - Autocomplete */
/* ~768px */
@media (max-width:48rem){
    .search__filter{ display:none }
}

/* ------ Lista de Desejos */
/* ~992px */
@media (max-width:62rem){
    .mywish__content{ display: none !important }
    .mywish__header .ico{ fill: @bg(1) !important }
}

/* ------ Logo */
/* ~992px */
@media (max-width:62rem){
    .logo .has-m-img .d-img{ display: none !important }
    .logo .has-m-img .m-img{ display: block !important }
}

/* ------ Coleção de Produtos */
/* ~568px */
@media (max-width:35.5rem){
    .products__item{ @flex(1 1 100%) }
    .products__case{
    @flexbox;
    @flex-flow(row nowrap);
    }
    .product__header{
        padding: 1rem 0 1rem 1rem;
    @flex(0 0 40%);
    }
    .product__main{ display: block }
    .product__name{
        font-size: 1rem;
        line-height: 1.2rem;
        height: 2.4rem;
        overflow: hidden;
        word-break: break-word;
        position: relative;
    }
    .product__name:after{
        content: '';
        display: block;
        height: 1.2rem;
        width: 25%;
        background: linear-gradient(90deg, rgba(255,255,255,0), #fff);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .products .configurable-swatch-list,
    .products .price-box-avista,
    .products .price-box-parcelado{ display: none }
}

/* ------ Menu de Categorias */
/* ~1528px */
@media (max-width:95.5rem){
    .categories--carrossel .owl-prev{ box-shadow: 1rem 0 2rem -1rem rgba(0,0,0,.8) }
    .categories--carrossel .owl-next{ box-shadow: -1rem 0 2rem -1rem rgba(0,0,0,.8) }
}
/* ~992px */
@media (max-width:62rem){
    .categories--mobi{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        margin: 0 !important;
        padding: 0 0 3rem !important;
    @transform(translateX(-100%));
        display: block;
        overflow-y: auto;
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    }
    .categories--mobi.on{
    @transform(translateX(0))
    }
    .categories--mobi .ul--0{
    @flex(1 1 100%);
        max-width: none;
    }
    .categories--mobi .li--0:not(.categories__all),
    .categories--mobi .a--0{ display: none }
    .categories--mobi .box--1{
        position: relative;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
    @transform(none);
        display: block;
        padding: 0;
        background: none;
        box-shadow: none;
    }
    .categories--mobi .categories__all{ @flex(1 1 100%) }
    .categories--mobi .all-ul--0{
        display: block;
        max-height: none;
        overflow: visible;
        padding: 0;
    }
    .categories--mobi .all-li--0{
        box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
        max-width: none;
    }
    .categories--mobi .all-a--0{
        padding: .875rem 1rem;
        font-size: 1rem;
        color: @color(1)
    }
    .categories--mobi .all-ul--1{
        font-size: 1rem;
        background: rgba(0,0,0,.1);
    }
    .categories--mobi .all-li--1{ box-shadow: inset 0 1px 0 rgba(0,0,0,.1) }
    .categories--mobi .all-a--1{
        padding: .875rem 1rem;
        color: @color(1)
    }
    .categories--mobi .all-ul--2{
        font-size: .8rem;
        background: rgba(0,0,0,.1);
    }
    .categories--mobi .all-li--2{ box-shadow: inset 0 1px 0 rgba(0,0,0,.1) }
    .categories--mobi .all-a--2{
        padding: .975rem 1rem;
        color: @color(1)
    }
    .categories--mobi .std{ display: none }
    .categories__hide{
        box-shadow: none;
    @flex(0 0 auto);
        margin: 0 0 0 auto;
        display: block;
    }
    .categories__show{
        display: block;
        box-shadow: none;
        font-size: 1.5rem;
        padding: 0;
        width: 2.75rem;
        height: 2.75rem;
    @flex(0 0 2.75rem);
        margin-right: 1rem;
    }
    .categories__show span{ display: none }
    .categories__show:before{
    @icon(f0c9);
        position: relative;
        left: 1.5px;
    }
    .categories__show:hover{
        color: @color(1);
        background: @bg(1);
    }
}
/* ~568px */
@media (max-width: 35.5rem){
    .categories__show{ margin: 0 }
}

/* ------ Marcas */
/* ~568px */
@media (max-width: 35.5rem){
    .brands .owl-wrapper-outer{
        padding: 0 1rem;
        margin: 0 -1rem;
        width: calc(100% + 2rem);
        background: #fff;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    }
}

/* ------ Minha Conta */
/* ~992px */
@media (max-width:62rem){
    .myaccount__content{
        position: fixed;
        top: 0 !important;
        bottom: auto !important;
        left: 0 !important;
        right: auto !important;
        z-index: 999;
        max-width: none;
        width: 100vw;
        height: 100vh;
        display: block;
        overflow-y: auto;
        box-shadow: inset 0 1px 0 @bg(1),
        inset 0 0 0 1px rgba(0,0,0,.1);
    @transform(translateX(-100%));
    @transition(600ms, cubic-bezier(.23,1,.32,1));
    }
    .myaccount.on .myaccount__content{ @transform(translateX(0)) }
    .myaccount__hide{
        display: block;
        margin: -1rem -1rem 1rem;
        border-radius: 0;
    }
    .myaccount__content .title{ text-align: center }
    .myaccount__social,
    .myaccount__login,
    .myaccount__register{
        max-width: 24rem;
        margin-left: auto;
        margin-right: auto;
    }
    .myaccount .mymenu{ margin: 0 -1rem }
    .myaccount .mymenu .ul--0 ul{ background: rgba(0,0,0,.05) }
    .myaccount .mymenu .li--0{ margin: 0 }
    .myaccount .mymenu li{ border-bottom: 1px solid rgba(0,0,0,.1) }
    .myaccount .mymenu li:first-child{ border-top: 1px solid rgba(0,0,0,.1) }
    .myaccount .mymenu a{
        display: block;
        padding: 1rem;
        line-height: 1em;
        font-size: 1rem;
    }
}

/* ------ Meu Carrinho */
/* ~992px */
@media (max-width:62rem){
    .mycart__content{
        position: fixed;
        top: 0 !important;
        bottom: auto !important;
        left: 0 !important;
        right: auto !important;
        z-index: 999;
        max-width: none;
        width: 100vw;
        height: 100vh;
        display: block;
        overflow-y: auto;
        box-shadow: inset 0 1px 0 @bg(1),
        inset 0 0 0 1px rgba(0,0,0,.1);
    @transform(translateX(-100%));
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    }
    .mycart.on .mycart__content{ @transform(translateX(0)) }
    .mycart__header .ico{ fill: @bg(1) !important }
    .mycart__hide{
        display: block;
        margin: -1rem -1rem 1rem;
        border-radius: 0;
    }
    .mycart__list{
        max-height: none;
        overflow: visible;
        padding: 0;
        margin: 0;
    }
    .mycart__actions{ margin-bottom: 1rem }
}

/* ------ Breadcrumb */
/* ~768px */
@media (max-width: 48rem){
    .breadcrumb{ font-size: .8rem }
}

/* ------ Filtros */
/* ~992px */
@media (max-width:62rem){
    .filters .title{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 9999;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background: @bg(1);
        color: @color(1);
    @flexbox;
    @align-items(center);
    @justify-content(flex-end);
    @transition(400ms, cubic-bezier(0.23, 1, 0.32, 1));
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 1.5rem;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
        0 2px 4px rgba(0,0,0,.3);
    }
    .filters .title:before{ @icon(f1de) }
    .filters .title span{ display: none }
    .filters .title.scrolled{ @transform(scale(0)) }
    .filters__list{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        padding: 4rem 1rem 1rem;
        background: @bg(1);
        overflow-y: auto;
    @transform(translateY(100%));
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    }
    .filters.on .filters__list{ @transform(translateY(0)) }
    .filters.on .title{
        bottom: auto;
        top: 0;
        right: 0;
        box-shadow: none;
        border-radius: 0;
        width: 100vw;
    }
    .filters.on .title:before{ @icon(f00d) }
    .filters__filter:not(:last-child){ margin-bottom: 2rem }
    .filters__filter{
        padding: 0;
        background: none;
        box-shadow: none !important;
    }
    .filters__name{
        color: rgba(255,255,255,.5);
        margin-bottom: .25rem;
    }
    .filters__filter .li--0:not(:last-child){ margin: 0 }
    .filters__filter .a--0{ color: @color(1) }
    .filters__swatches .swatch{
        background: rgba(255,255,255,.5);
        color: rgba(0,0,0,.5)
    }
    .filters__filtered{
        position: fixed;
        top: 4.75rem;
        left: 0;
        right: 0;
        z-index: 999;
    }
    .filters__filtered .subtitle,
    .filtered__clear{ display: none }
}
/* ~568px */
@media (max-width: 35.5rem){
    .filters .title{
        bottom: 1rem;
        right: 1rem;
        padding: 1rem;
        width: 3rem;
        height: 3rem;
    }
    .filters__filtered{ top: 3rem }
}

/* ------ Pagamentos / Envios */
/* ~768px */
@media (max-width: 48rem){
    .pays__svg,
    .ships__svg{ height: 1rem }
}

/* ------ Banner */
/* ~992px */
@media (max-width:62rem){
    .has_m_img .banner__link{ height:auto !important }
    .has_m_img img.d_img{ display:none !important }
    .has_m_img img.m_img{
        display:block !important;
        width: 100%;
    }
    .banner .owl-controls{ display:none !important }
    .banner--nojs .banner__wrapper{ @col(2) }
}
/* ~568px */
@media (max-width: 35.5rem){
    .slide__youtube{
        padding: 100% 182% 0 0;
        height: auto !important;
    }
    .banner--nojs .banner__wrapper{ @col(1) }
}

/* ------ Modal */
/* ~992px */
@media (max-width: 62rem){
    .modal__content{
        margin-right: 0;
        max-width: calc(100vw - 2rem);
    }
    .modal .video-fix-frame{ width: calc(100vw - 2rem) }
}
/* ~568px */
@media (max-width: 35.5rem){
    .modal__content{ width: 100vw }
}

/* ------ Floater */
/* ~992px */
@media (max-width: 62rem){
    .floater__content{
        margin-right: 0;
        max-width: calc(100vw - 2rem);
    }
    .floater .video-fix-frame{ width: calc(100vw - 2rem) }
}
/* ~568px */
@media (max-width: 35.5rem){
    .floater__content{ width: 100vw }
}

/* ------ Termos de Aceite */
/* ~992px */
@media (max-width: 62rem){
    .terms__content{
        margin-right: 0;
        max-width: calc(100vw - 4rem);
    }
    .terms__actions{
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .terms__actions .btn{ @flex(1 1 auto) }
    .terms .video-fix-frame{ width: calc(100vw - 2rem) }
}
/* ~568px */
@media (max-width: 35.5rem){
    .terms__content{ width: 100vw }
}

/* ------ Carrossel */
/* ~1528px */
@media (max-width:95.5rem){
    .owl-prev{
        left:0;
        right:auto
    }
    .owl-next{
        right:0;
        left:auto
    }
}
/* ~992px */
@media (max-width:62rem){
    .owl-buttons{ display:none }
}

/* ------ Feed RSS */
/* ~992px */
@media (max-width:62rem){
    .feeds--content .feeds__list{ @col(1) }
}

/* ------ Header */
/* ~1408px */
@media (max-width: 88rem){
    .header{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/* ~992px */
@media (max-width:62rem){
    .header-container{
    @flexbox;
    @align-items(center);
        background: @bg(1);
        margin: 0;
    }
    .header{ @flex(1 1 auto) }
    .header-container .loginout{ display:none }
    .header-container .mywish__header a,
    .header-container .mycart__header a,
    .header-container .myaccount__header a{
        background: @color(1) !important;
        box-shadow: none;
    }
}
/* ~768px */
@media (max-width: 48rem){
    .mywish{ display: none }
}
/* ~568px */
@media (max-width: 35.5rem){
    .header{
        padding: .125rem 0 .125rem 1rem;
        margin: 0 !important;
    }
    .header .search{
    @flex(0 0 auto);
        margin-left: auto;
        z-index: 20;
    }
    .header .search__button{ box-shadow: none }
    .header .search__form .input-box{ display: none }
    .header .search.on .search__form .input-box{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: block;
        width: 100vw;
    }
    .header .search.on .search__input{
        height: 3rem;
        width: 100%;
        padding: 1rem 3.75rem 1rem 1rem;
        background: @bg(1);
        color: @color(1);
        box-shadow: none;
    }
    .header .search.on .search__input::-webkit-input-placeholder{ color: rgba(@color(1 rgb),.5) }
    .header .search.on .search__input::-moz-placeholder{ color: rgba(@color(1 rgb),.5) }
    .header .search.on .search__input:-ms-input-placeholder{ color: rgba(@color(1 rgb),.5) }
    .header .search.on .search__input:-moz-placeholder{ color: rgba(@color(1 rgb),.5) }
    .header .search__hide{
        position: fixed;
        top: .125rem;
        right: .125rem;
        z-index: 9999;
        box-shadow: none;
        background: none;
        display: block;
    }
    .header .logo img,
    .header .logo svg{
        max-height: 2rem;
        height: auto
    }
    .header .myaccount,
    .header .mycart{
        margin-left: 0;
        z-index: 10;
    }
    .header .myaccount__header,
    .header .mycart__header{ padding: .375rem }
    .header .myaccount__header a,
    .header .mycart__header a{
        width: 2rem;
        height: 2rem;
    }
}

/* ------ Footer */
/* ~1408px */
@media (max-width: 88rem){
    .footer .newsletter{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .footer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/* ~768px */
@media (max-width: 48rem){
    .footer__payments,
    .footer__shipments,
    .footer__certificates{ @flex(1 1 100%) }
    .pays__list,
    .ships__list,
    .certs__list{ @justify-content(center) }
    .footer .pays__title,
    .footer .ships__title,
    .footer .certs__title{ display: none }
}

/* ------ Catálogo */
/* ~768px */
@media (max-width: 48rem){
    .toolbar{
    @flex-flow(row wrap);
    @justify-content(space-between);
    }
    .toolbar .amount{
    @flex(1 1 100%);
        margin-bottom: 1rem;
    }
    .toolbar .sorter{ margin-left: 0 }
}
/* ~568px */
@media (max-width: 35.5rem){
    .prolabel,
    .prolabel.top-center,
    .prolabel.middle-left,
    .prolabel.middle-right,
    .prolabel.bottom-center,
    .prolabel.middle-center,
    .prolabel.top-left,
    .prolabel.top-right,
    .prolabel.bottom-left,
    .prolabel.bottom-right{
        margin: 5px;
        position: static;
    @transform(translate(0, 0));
    }
    .prolabel img{
        width: auto;
        height: auto;
        max-height: 3rem;
        margin: 0;
    }
}
/* ~468px */
@media (max-width: 29.25rem){
    .toolbar .view-mode,
    .toolbar .limiter{ display: none }
    .toolbar .sort-by{ margin-left: 0 }
}

/* ------ Produto */
/* ~ 1024px */
@media (max-width:64rem){
    .prod__shop{ @flex-flow(column nowrap) }
    .prod__shop .col1{ margin-bottom: 2rem }
    .prod__shop .col2{ margin: 0 }
}
/* ~992px */
@media (max-width:62rem){
    .prod__img{
        margin-right: 1rem;
    @flex(1 1 50%);
    }
    .product-image-gallery{ height: auto }
    .prod__shop{ @flex(1 1 50%) }
    .prod__name h1{ font-size: 2rem }

    /* @parcelamento */
    .parcelamento .title{
        display: block;
        font-size: 1rem;
        padding: 1rem;
        background: #fff;
        border: 1px solid rgba(0,0,0,.1);
    @flexbox;
    @align-items(center);
    @justify-content(space-between);
    }
    .parcelamento .title:after{ @icon(f105) }
    .parcelamento ul{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        z-index: 9999;
        padding: 1rem;
        background: #fff;
        font-size:1rem;
    @col(initial);
    @colgap(0);
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    }
    .parcelamento.on ul{ @transform(translateX(-100%)) }
    .parcelamento__hide{
        display: block;
        margin: -1rem -1rem 1rem;
        border-radius: 0;
    }

    /* @simulador-frete */
    .frete__title{
        font-size: 1rem;
        padding: 1rem;
        border-radius: 0;
        background: #fff;
        margin: 0;
        box-shadow: none;
        border: 1px solid rgba(0,0,0,.1);
    }
    .frete__title span{ @order(-1) }
    .frete__title .ico{ margin: 0 0 0 auto }
    .frete__content{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        z-index: 999;
        padding: 1rem;
        background: #fff;
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    @align-items(center);
    @justify-content(center);
    @flex-flow(column nowrap);
    @flexbox;
    }
    .frete--open .frete__content{
    @transform(translateX(-100%));
    @flexbox;
    }
    .frete__hide{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        border-radius: 0;
    }
    .frete__results{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        z-index: 9999;
        display: block !important;
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    @transform(translateY(100%));
    }
    .frete.on .frete__results{ @transform(translateY(0)) }

    /* Produto - Compre Junto */
    .jointsales .owl-buttons{ display: block }
}
/* ~768px */
@media (max-width: 48rem){
    /*Produto Configurável*/
    .configurable{ display: block }

    /* Produto - Compre Junto */
    .jointsales__current{ @flex-flow(column nowrap) }
}
/* ~568px */
@media (max-width: 35.5rem){
    #product_addtocart_form{ display: block }
    .product-essential{ margin-bottom: 0 }
    .prod__img{ margin: 0 0 1rem }
    .product-image-gallery{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .catalog-product-view .breadcrumb{ display: none }
    .catalog-product-view .wrapper-container{ padding-top: 3rem }
    .product-collateral > *:not(:last-child){ margin-bottom: 0 }

    /* @compartilhar */
    .sharing-links .list{
        margin: 0;
    @justify-content(space-around)
    }
    .sharing-links li{ margin: 0 }
    .sharing-links .list:before{ display: none }

    /* .tabs */
    .tabs{
        display: block;
    }
    .tabs__tab{
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        margin: 0 -1rem !important;
        top: 0;
        position: static;
        background: #fff;
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
    @flexbox;
    @align-items(center);
    }
    .tabs__tab:first-child{ margin-left: auto }
    .tabs__tab:after{
    @icon(f105);
        margin-left: auto;
    }
    .tabs__content{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding: 1rem;
        background: #fff;
        border: 0;
        z-index: 999;
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    @transform(translateX(100%));
    }
    .tabs__content.open{ @transform(translateX(0)) }
    .tabs__hide{
        display: block;
        margin: -1rem -1rem 1rem;
        border-radius: 0;
    }

    /* Produto
     * @relacionados
     * @recomendados
     * @quemviu
     * @compre-junto
     * @vendas-acima
     */
    .related__title,
    .recommended__title,
    .whosaw__title,
    .jointsales__title,
    .upsell__title{
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        margin: 0 -1rem;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,.1);
    @flexbox;
    @align-items(center);
    }
    .related__title:after,
    .recommended__title:after,
    .whosaw__title:after,
    .jointsales__title:after,
    .upsell__title:after{
    @icon(f105);
        margin-left: auto;
    }
    .related__content,
    .recommended__content,
    .whosaw__content,
    .jointsales__content,
    .upsell__content{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding: 1rem;
        background: #fff;
        z-index: 999;
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    @transform(translateX(100%));
    }
    .related.on .related__content,
    .recommended.on .recommended__content,
    .whosaw.on .whosaw__content,
    .jointsales.on .jointsales__content,
    .upsell.on .upsell__content{ @transform(translateX(0)) }
    .related__hide,
    .recommended__hide,
    .whosaw__hide,
    .jointsales__hide,
    .upsell__hide{
        display: block;
        margin: -1rem -1rem 1rem;
        border-radius: 0;
    }

    /* @compre-junto */
    .jointsales__content{ display: block }
    .jointsales__current{
    @flex-flow(row nowrap);
        margin: 0;
        padding: 0;
    }
    .jointsales .more{
        top: calc(100% - 1rem);
        right: calc(50% - 1rem);
    @transform(scale(1.5));
    }
    .jointsales__items{ min-width: 100% }
    .jointsales .owl-wrapper-outer{ border-width: 0 1px 1px }
    .jointsales__row{ display: block }
    .jointsales__list{ display: block }
    .jointsales__item{
        max-width: none;
        padding: 0;
    @flexbox;
    @flex-flow(row wrap);
    }
    .jointsales__item:not(:first-child){
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .jointsales__item .thumb{
        padding: 0 1rem 0 0;
        margin: 0;
    @flex(0 0 40%);
    }
    .btn-jointsales{ width: 100% }

    /* avaliacoes(form) */
    .reviews .subtitle{
        text-align: center;
        border-top: 1px solid rgba(0,0,0,.1);
        opacity: .5;
    }
    .reviews__title{
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem;
        margin: 0 -1rem;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,.1);
    @flexbox;
    @align-items(center);
    }
    .reviews__title:after{
    @icon(f123);
        margin-left: auto;
    }
    .reviews__content{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding: 1rem;
        background: #fff;
        z-index: 999;
    @transition(600ms, cubic-bezier(0.23, 1, 0.32, 1));
    @transform(translateX(100%));
        display: block;
    }
    .reviews.on .reviews__content{ @transform(translateX(0)) }
    .reviews__resume,
    .reviews__ratings,
    .reviews__add{
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
    }
    .reviews__resume .product-rate .percent{ margin: 0 20% }
    .reviews__ratings{ margin-bottom: 1rem }
    .reviews__no-reviews{ padding: 0 }
    .reviews__hide{
        display: block;
        margin: -1rem -1rem 1rem;
        border-radius: 0;
    }

    /* @parcelamento & @simulador-frete*/
    .parcelamento .title{
        margin-left: -1rem;
        margin-right: -1rem;
        border-width: 1px 0;
    }
    .frete__title{
        margin-left: -1rem;
        margin-right: -1rem;
        border-width: 0 0 1px;
    }

    /* @links */
    .add-to-links{ margin: 0 !important }
    .add-to-links li:not(:last-child){ margin: 0 }
    .add-to-links a{
        padding: 1rem;
        margin: 0 -1rem;
        text-align: left;
        font-size: 1rem;
        line-height: 1em;
    @flexbox;
    @align-items(center);
        border-radius: 0;
        font-weight: 400;
        box-shadow: none;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .add-to-links li:first-child a{ border-top: 1px solid rgba(0,0,0,.1) }
    .add-to-links a:after{ margin-left: auto }
    .add-to-links .link-wishlist a:after{ @icon(f004) }
    .add-to-links .link-compare a:after{ @icon(f012) }

    /* Empacotado */
    .bundle{ margin: 0 -1rem 1.5rem }
    .bundle:before{ padding: 0 1rem }
    .bundle__option{ margin: 0 0 -1px }
    .bundle .options-bundle-images,
    .bundle .bundle-checkbox-image,
    .bundle .bundle-checkbox-image{ @flex(0 0 3rem) }
    tr.bundle{
        margin: 0;
        display: table-row;
    }
    tr.bundle:before{ display: none }

    .grouped{ margin: 0 -1rem 1.5rem }
    .grouped:before{ padding: 0 1rem }
    .grouped__option{ margin: 0 0 -1px }
    .grouped .qty-holder{ margin: 0 }
    .grouped .grouped-images{ @flex(0 0 3rem) }
    .grouped__option.added:not(.out-of-stock):hover{ box-shadow: inset 0 0 0 1px @bg(1) }
}

/* ------ Carrinho */
/* ~992px */
@media (max-width: 62rem){
    .cart-table{ margin: 0 -1rem }
    .cart-table .cart-total-head,
    .cart-table .cart-product-line > div.product-cart-total{ display: none }
    .cart__boxes{ margin: 0 -1rem 1rem }
}
/* ~768px */
@media (max-width: 48rem){
    .cart-table h2.name{ font-size: 1rem }
    .cart-table .cart-product-head span:after{ content: 's'; }
    .cart-table .cart-price-head,
    .cart-table .cart-qty-head{ display: none }
    .cart-table .btn-remove{ margin: 0 }
    .cart-product-line{
        margin: 0 0 1rem;
        padding: 0 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    @flex-flow(row wrap);
    }
    .cart-product-line:last-child{
        border: 0;
        padding: 0;
        margin: 0;
    }
    .cart-product-line > div{ @flex(0 1 auto) }
    .cart-product-line > div:first-child{
        padding: 1rem;
    @flex(1 1 100%);
    @align-items(flex-start);
    }
}
/* ~568px */
@media (max-width: 35.5rem){
    .cart__boxes{ display: block }
}

/* ------ Finalização */
/* ~992px */
@media (max-width: 62rem){
    .opc .header-container{
        background: @bg(1);
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        padding: 0;
        margin: 0 -1rem 2rem;
        width: auto;
    }
    .opc .header{ padding: .125rem 0 }
    .checkout-onepage-index .biz-modal-frame .modal-container .std{ text-align: center }

    /* Finalização - Modelo Accordion */
    .osc-accordion .col-right{ display: none }

    /* Finalização - Colunas */
    .osc-onepage #checkoutSteps > div{ @flex(1 1 50%) }
}
/* ~768px */
@media (max-width: 48rem){
    .opc-registered-users{
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(0,0,0,.1);
    @flex(1 1 100%);
    }
    .opc-new-users{ @flex(1 1 50%) }
    .cardGrid .exp,
    .cardGrid .cod{ @flex(1 1 50%) }
    .cardGrid .pars{ @flex(1 1 100%) }
    .flag-selection-entry{ margin-bottom: .5rem }
    .flag-selection-entry .input-box{ @flex(1 1 100%) }
    .card-flags{ display: none }
    .checkout-review-table > thead th:not(:first-child):not(:nth-child(2)),
    .checkout-review-table > tbody td:not(:first-child):not(:nth-child(2)){ display: none }

    /* Finalização - Etapas */
    .osc-steps .opc-block-progress dl{ @align-items(flex-end) }
    .osc-steps .opc-block-progress dt{
        font-size: 10px;
        line-height: 10px;
        display: block;
    }
    .osc-steps .opc-block-progress dt .changelink{ display: block }
    .osc-steps .opc-block-progress dt a{
        margin: 0;
        display: inline-block;
        height: 2rem;
    }
}
/* ~568px */
@media (max-width: 35.5rem){
    .bcashGrid{ display: block }
    .bcashGrid .ico{ margin-bottom: 1rem }
    .cardGrid .num,
    .cardGrid .nome,
    .cardGrid .exp,
    .cardGrid .cod{ @flex(1 1 100%) }
    .checkout-review-table > thead th:not(:first-child),
    .checkout-review-table > tbody td:not(:first-child){ display: none }
    #checkoutSteps .section #checkout-review-submit .buttons-set .f-left{ display: none }
    #checkoutSteps .section #checkout-review-submit .buttons-set button{
        margin: 0;
    @flex(1 1 auto);
    }
    .banks-accounts table tr{
    @flexbox;
    @flex-flow(column nowrap);
    }
    .banks-accounts table th,
    .banks-accounts table td{
        width: 100%;
    @flex(1 1 auto);
    }
    .banks-accounts table thead th{ padding: .5rem 1rem }
    .banks-accounts table tbody td{ border: 1px solid rgba(0,0,0,.1) }
    .banks-accounts table th:before,
    .banks-accounts table td:before{
        content: '1';
        opacity: .5;
        font-weight: 700;
        margin-right: 1rem;
    }
    .banks-accounts table th:nth-child(2):before,
    .banks-accounts table td:nth-child(2):before{ content: '2' }
    .banks-accounts table th:nth-child(3):before,
    .banks-accounts table td:nth-child(3):before{ content: '3' }

    /* Finalização - Modelo Etapas */
    .osc-steps #checkoutSteps{ margin: 0 -1rem }

    /* Finalização - Modelo Accordion */
    .osc-accordion #checkoutSteps{ margin: 0 -1rem }

    /* Finalização - Modelo Colunas */
    .osc-onepage #checkoutSteps{
        display: block;
        margin: 0 -1rem;
    }
    .osc-onepage #checkoutSteps > div{ width: 100% }
    .osc-onepage .section{ margin: 0 }
    .osc-onepage .step-title{ margin: 0 }
    .osc-onepage .step.a-item{ padding-top: 1rem }
    .osc-onepage #checkoutSteps .section.allow .step.a-item{ display: none !important }
    .osc-onepage #checkoutSteps .section.active .step.a-item{ display: block !important }

    /* Finalização - MundiPagg */
    #payment_form_mundipagg_api_doiscartoes .cardGrid{ display: block }
    #payment_form_mundipagg_api_doiscartoes .valor-card{ display: block }
    #payment_form_mundipagg_api_doiscartoes .valor-card input{ margin: .25rem 0 0 }
}

/* ------ Sucesso */
/* ~568px */
@media (max-width: 35.5rem){
    .success-content{ margin: 0 -1rem }
    .success-content .confirmation,
    .success-content .print{ display: block }
    .buttons-success{ @align-items(stretch) }
}

/* ------ Painel do Cliente */
/* ~992px */
@media (max-width: 62rem){
    .my-orders .item-order{ @flex(0 1 50%) }
    .box-account .box-title a{
        min-width: 60px;
        text-align: center;
        line-height: 1em;
        padding: 3px 10px;
    }
    .sales-order-view .title-buttons .order-status,
    .sales-order-shipment .title-buttons .order-status,
    .sales-order-invoice .title-buttons .order-status{
        margin: 5px 0 10px;
    @flex(1 1 100%);
    }

    .customer-account .footer .newsletter,
    .customer-account .footer__about,
    .customer-account .footer__doubts,
    .customer-account .footer__account,
    .customer-account .footer__payments,
    .customer-account .footer__shipments,
    .customer-account .footer__certificates{ display: none }

    .block-account .block-title{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 9999;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background: @bg(1);
        color: @color(1);
    @flexbox;
    @align-items(center);
    @justify-content(flex-end);
    @transition(400ms, cubic-bezier(0.23, 1, 0.32, 1));
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 1.5rem;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
        0 2px 4px rgba(0,0,0,.3);
    }
    .block-account .block-title:before{ @icon(f0c9) }
    .block-account .block-title strong{ display: none }
    .block-account .block-content{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        overflow-y: auto;
        padding: 0 1rem 1rem;
        background: #fff;
        width: 100vw;
        height: 100vh;
    @transform(translateY(100%));
    @transition(600ms, cubic-bezier(.23,1,.32,1));
    }
    .block-account.on .block-title{
    @transform(rotate(180deg));
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
        0 -2px 4px rgba(0,0,0,.3);
    }
    .block-account.on .block-title:before{
    @icon(f077);
        position: relative;
        bottom: 2px;
    }
    .block-account.on .block-content{ @transform(translateY(0)) }
    .block-account ul li{
        margin: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .block-account ul li.last{
        border: 0;
        margin: 0;
    }
    .block-account a{
        display: block;
        font-size: 1rem;
        line-height: 1em;
        padding: 1rem;
        margin: 0 -1rem;
    }
    .block-account .current a,
    .block-account a:hover{
        background: @bg(2);
        color: @color(2);
    }
    .block-account ul li.last a:after{
        font-size: 1rem;
        font-weight: 700;
        line-height: 1em;
    }
}
/* ~768px */
@media (max-width: 48rem){
    body:not(.sales-order-history) .my-orders .item-order:not(:first-child),
    .order-details #my-orders-table thead th:nth-child(4),
    .order-details #my-orders-table tbody td:nth-child(4){ display: none }
    .col4-set{ @flex-flow(row wrap) }
    .col4-set > div{
    @flex(1 1 50%);
        margin: 0;
    }

    #wishlist-table tbody tr{
    @flexbox;
    @flex-flow(row wrap);
        margin: 0;
        padding: .5rem;
        border: 1px solid rgba(0,0,0,.1);
    }
    #wishlist-table thead tr th:not(:first-child){ display: none }
    #wishlist-table tbody tr td{
    @flex(1 1 auto);
        width: auto;
        padding: .5rem !important;
        border: 0  !important;
    }
    #wishlist-table tbody tr td:first-child{
    @flex(1 1 30%);
        width: 30%;
    }
    #wishlist-table tbody tr td:nth-child(2){
    @flex(1 1 70%);
        width: 70%;
    }
}
/* ~568px */
@media (max-width: 35.5rem){
    .box-account .col2-set{ display: block }
    .box-recent .box-head,
    .box-address .box-head{ display: block }
    .box-recent .box-head:before,
    .box-address .box-head:before{ display: none }
    .box-recent .box-head a,
    .box-address .box-head a{
        margin: 5px 0 0;
        display: inline-block;
    }
    .title-buttons{ display: block }
    .col2-set.addresses-list{ display: block }
    .my-orders .item-order{ @flex(1 1 100%) }
    .order-date{ font-size: 12px }
    .order-info-box{ display: block }
    .sales-order-view .title-buttons a,
    .sales-order-shipment .title-buttons a,
    .sales-order-invoice .title-buttons a{ white-space: nowrap }
    .customer-account .col2-set > .addresses-additional{ padding: 0 }
    .customer-account .pager-no-toolbar .limiter{ display: none }

    .addresses-primary{ margin-bottom: 1rem }

    .sales-order-view .title-buttons h1,
    .sales-order-shipment .title-buttons h1,
    .sales-order-invoice .title-buttons h1{ white-space: normal }

    .block-account .block-title{
        bottom: 1rem;
        right: 1rem;
        padding: 1rem;
        width: 3rem;
        height: 3rem;
    }

    .form-list .fields.tipopessoa > .field{ padding: 0 }
    .form-list .fields.tipopessoa label{
        padding: 0 .5rem;
        font-size: .8rem;
    }

    #wishlist-table tbody tr{
    @flexbox;
    @flex-flow(row wrap);
        margin: 0;
        padding: .5rem;
        border: 1px solid rgba(0,0,0,.1);
    }
    #wishlist-table thead tr th:not(:first-child){ display: none }
    #wishlist-table tbody tr td,
    #wishlist-table tbody tr td:first-child,
    #wishlist-table tbody tr td:nth-child(2){
    @flex(1 1 100%);
        width: 100%;
        padding: .5rem !important;
        border: 0  !important;
    }
    #wishlist-table tbody tr td[width]{
    @flex(1 1 auto);
        width: auto;
    }

    #my-downloadable-products-table thead tr th:not(:first-child){ display: none }
    #my-downloadable-products-table tbody tr{
    @flexbox;
    @flex-flow(row wrap);
        margin: 0;
        border: 1px solid rgba(0,0,0,.1);
        padding: .5rem;
    }
    #my-downloadable-products-table tbody tr td{
    @flex(1 1 auto);
        padding: .5rem !important;
        margin: 0;
        border: 0 !important;
    }

    .socialconnect-account .col2-set{ @flex-flow(row wrap) }
    .socialconnect-account .col2-set > div{ min-width: 250px }
}

/* ------ Revendas */
/* ~768px */
@media (max-width: 48rem){
    .revendas-map{
        margin-right: 2rem;
        flex: 0 0 200px;
        position: relative;
    }
    #Brasil{
        width: 200px;
        height: 200px;
    }
    .revendas-map:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
    .or-map{ display: none }
    .cases-revenda li{ min-width: 200px }
    .revendaslist > li{
        flex: 0 1 50%;
        min-width: 200px;
    }
    .case-detail-content .images li{ list-style: none !important }
}
/* ~568px */
@media (max-width: 35.5rem){
    .revendas-index-main{ display: block }
    .revendas-map{ display: none }
    .revendaslist{ display: block }
    .arevenda{ display: block }
    .arevenda .right {
        margin: 20px 0 0;
        padding: 20px 0 0;
        box-shadow: none;
        border-top: 1px solid #ccc;
    }
    .arevenda .galeria-nav {
        padding: 20px 10px 10px;
        margin: 0 0 20px;
    }
    .cases-revenda ul{
        margin: 0;
        display: block;
    }
    .cases-revenda li{
        padding: 0;
        margin: 0 0 10px;
    }
    .cases-revenda a {
        display: block;
        padding: 10px;
        min-height: 150px;
    }
    .case-detail-content{ display: block }
    .case-detail-content .dados{ margin: 20px 0 0 }
}