@media (max-width 768px)

  .form-budget__group
    display block
    max-height none
    height auto

    > *
      width calc(100% - 20px)

  .modal__content
    padding 20px 15px

  .modal__desc
    height calc(100% - 85px)

  .modal__title
    margin-bottom 20px
