.icon--tag
  &:before
    content svg-inline(tag)

.main .col-main .products
  margin-bottom 35px

.products__title
  margin-bottom 25px

.showcase__title
.showcase__sub
  display block
  text-align center

.showcase__title.icon--tag
  display block

  &:before
    display block
    margin-bottom 8px

.showcase__title
  color #343434
  font-size 25px
  font-weight 500
  letter-spacing .49px
  line-height 1
  margin-bottom 5px
  text-transform uppercase


.products__list
  margin 0 -15px

.main-container
  .product__main
    text-align center

.products__item
  flex 1 1 200px
  margin-bottom 45px
  padding 0 15px

.product__image
  height auto
  padding 0


.products__case
  align-items center
  box-shadow none
  height 400px
  justify-content center
  padding 10px
  transition all 150ms ease-in-out

  .main-container &
    height 455px


.product__name
  color #494949
  display block
  font-size 14px
  font-weight 400
  flex 0 0 auto
  line-height 14px
  height 42px
  margin 0 0 10px
  overflow hidden

.price-box
  order 0

  .main-container &
    display flex
    flex-flow column nowrap
    height 53px
    justify-content flex-end
    align-items center

  .old-price
    color #d1d1d1
    font-size 14px
    font-weight 400
    margin-bottom 15px !important
    text-decoration line-through

    .label
      text-transform lowercase

  .special-price
  .regular-price
  .minimal-price
    color $cor01
    font-size 24px
    font-weight 700

    .label
      color $cor01
      text-transform lowercase

.price-box-parcelado
  order 2 !important

  span
    color #494949
    font-size 14px
    font-weight 400

  .num
  .value
    span
      color #494949 !important
      font-weight 900

.preco-parcelado-sem-juros
.preco-parcelado
  display block

  .upto
  .s-juros
  .juros
    display none



.preco-parcelado-sem-juros + .preco-parcelado
  display none

.price-box-avista
  display block
  flex-wrap nowrap
  margin 0 0 3px
  order 1 !important

  .main-container &
    text-align center

  span
    color #494949
    font-size 14px

  .label
    margin 0

.product__prices
  display flex
  flex-wrap wrap
  justify-content center

  > *
    flex 0 0 100%

  .btn-cart
    order 10
    background $cor02
    border-radius 3px
    color white
    font-size 14px
    font-weight 400
    letter-spacing 0
    height 33px
    width 105px
    padding 0
    flex 0 0 auto

.price-box-avista
  span
    display inline-block

.carrossel .products__item
  margin-bottom 0
  padding 28px 15px

.owl-carousel
  .owl-wrapper-outer
    margin 0 -10px
    width calc(100% + 20px)

  .owl-wrapper
    padding-left 10px


.owl-prev
.owl-next
  top 50%
  transform translateY(-50%)

.owl-pagination
  display none

.tier-price
  display none

.products__case
  padding 15px 0 0

  .main-container &
    transition all 150ms ease-in-out

    @media (min-width 1200px)
      &:hover
        transform scale(1.05)

.products__title
  align-items center
  display flex
  margin 0

  span
    color $cor02
    font-size 18px
    font-weight 900
    flex 0 0 auto
    margin 0 55px
    text-transform uppercase

  &:before
  &:after
    content ''
    border-top 1px solid #e8e8e8
    flex 1 1 auto

.product-rate
  display none

.price-box-avista .price
  font-weight 900
