@media (max-width 1200px)
  .products__list
    flex-wrap nowrap
    margin 0 -7.5px
    max-width none
    overflow auto
    padding 5px 0 0

    .flex-fix
      display none

  .products__item
    margin-bottom 15px
    min-width 200px
    padding 0 7.5px

  .product__image
    height auto

  .products__title
    margin-bottom 20px

  .products__case
    height 325px

  .products
    .price-box-parcelado
      display block

      .preco-parcelado
        span
          font-size 11px
          line-height 11px


  .price-box-parcelado
    height 11px
    margin 0

  .main .col-main .products
    margin-bottom 30px

  .carrossel .products__list
    margin 0 -5px

  .carrossel .products__item
    padding 0 5px

  .owl-buttons
    display block

  .special-price
  .regular-price
  .minimal-price
    .label
    .price
      font-size 15px !important
      line-height 1

  .product__prices .btn-cart
    display none

  .price-box .old-price
    margin-bottom 0 !important

  .main-container .products__case
    height auto

  .products__title span, .showcase__title span
    margin 0 10px
    font-size 15px
