<section class="newsletter">
    <div class="center newsletter__center">
        <div class="newsletter__banner">
            {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="banner_newsletter"}}
        </div>
        <div class="newsletter__info">
            {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="newsletter" label_email="E-mail:" placeholder_email="E-mail" texto_botao="Cadastrar" exibir_nome="1" label_nome="Nome" placeholder_nome="Nome" exibir_genero="1" label_genero="Gênero:" label_masculino="Homem" label_feminino="Mulher"}}
        </div>
    </div>
</section>