.header-lane
  position fixed
  z-index 100
  top 0
  left 0
  width 100%

  &__center
    align-items center
    display flex
    justify-content space-between
    padding 40px 0

.logo
  display block
  width 200px

  img
    max-width 100%

.user-list
  display flex
  align-items center

  &__item 

.banner-home
  background url('/img/banner-home.jpg') no-repeat center top
  background-attachment fixed
  background-size 100%

  &__center
    display flex
    flex-wrap wrap
    align-items center
    height 90vh

  &__env
    max-width 410px

  &__title
    color #272728
    font-size 35px
    font-weight 400
    line-height 42px
    text-transform uppercase

    strong
      font-weight 700

  &__buttons
    display flex
    justify-content space-between
    margin-top 20px

  &__services
  &__partner
    background-color $cor03
    color white
    font-size 18px
    font-weight 400
    line-height 40px
    text-decoration none
    padding-bottom 3px
    width 195px
    text-align center
    transition all 150ms ease-in-out

    &:hover
      background-color $cor04

  &__partner
    background-color $cor01

    &:hover
      background-color $cor02
