@media (max-width: 768px)
  .banner-home
    background-size 250%

@media (max-width: 400px)

  .header-lane__center
    padding 15px 0

    body.header--on &
      padding 15px 0

  .logo
    width 130px

  .banner-home
    background-attachment initial
    background-size 350%

    &__title
      color white
      font-size 24px
      line-height 31px
      mix-blend-mode difference

    &__buttons
      justify-content flex-start
      margin 20px -5px 0

    &__partner
    &__services
      font-size 13px
      margin 0 5px
      width 130px

  .banner-home__center
    max-height 500px
    
