body,
html
  font 400 100%/1 $font01
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.center
  display block
  margin 0 auto
  max-width 1140px
  width calc(100% - 30px)

.main
  @extend .center

.col-main
  padding 0

[class*="icon--"]
  align-items center
  display inline-flex

  &:before
    flex 0 0 auto

.btn
button
input[type=button]
input[type=reset]
input[type=submit]
  background-color $cor01
  border-radius 0
  border 1px solid transparent
  box-shadow none
  color white
  font-size 15px
  font-weight 500
  letter-spacing .99px
  line-height 18px
  padding 14px 15px
  text-transform uppercase
  transition all 150ms ease-in-out

  &:hover
    background-color white
    border 1px solid $cor01
    color $cor01

input[type=text]
input[type=password]
input[type=email]
input[type=number]
textarea
  border 1px solid #e5e5e5
  border-radius 0
  box-shadow none
  font-size 13px
  line-height 16px
  padding 12px

input[type=text]
input[type=password]
input[type=email]
input[type=number]
  border 1px solid #e3e3e3 !important

textarea
  resize none

.wrapper .breadcrumb
  margin-bottom 30px

.breadcrumb__list
  @extend .center
  display flex

.breadcrumb__home

  .breadcrumb__link
    color black

    &:before
      display none

  & + .breadcrumb__sep
    color black

.breadcrumb__link
.breadcrumb__last
.breadcrumb__sep
  color #959595
  font-size 13px
  font-weight 500
  letter-spacing .5px
  line-height 1
  transition all 150ms ease-in-out

.breadcrumb__sep
  margin 0 4px

.breadcrumb__link
  &:hover
    color black

body:not(.cms-home)
  .title
  .prod__title
  .page-title h1
    border-bottom 1px dashed #424242
    color black
    font-size 17px
    font-weight 600
    letter-spacing .3px
    line-height 1
    margin-bottom 15px
    padding 16px 0
    text-transform uppercase

.title + .subtitle
  margin 0 0 15px

.accountlogin__new ul
  margin-bottom 20px

.fieldset .legend
.form-list > li:not(:last-child):not(.fields)
  margin-bottom 10px

.qty-wrapper .msg
  background-color $cor01
  color white

  &:before
    border-top-color $cor01

::-webkit-scrollbar
  height 5px
  width 5px

::-webkit-scrollbar-track
  background-color #f7f7f7


::-webkit-scrollbar-thumb
  background-color $cor01

::-moz-selection
  background-color rgba(127, 203, 174, .8)
  color white

::selection
  background-color rgba(127, 203, 174, .8)
  color white