body,
html
  font 400 100%/1 $font01
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

*
  box-sizing border-box

.center
  display block
  margin 0 auto
  max-width 1280px
  width calc(100% - 30px)

.main
  @extend .center

.col-main
  padding 0

[class*="icon--"]
  align-items center
  display inline-flex

  &:before
    flex 0 0 auto

textarea
  resize none

.wrapper .breadcrumb
  @extend .center
  background-color white
  margin-bottom 0
  position relative
  z-index 400

.breadcrumb__list
  align-items center
  display flex
  height 45px
  padding 0 30px

body:not(.cms-home)
  .main-container
    padding-bottom 60px


.breadcrumb li
  line-height 0

.breadcrumb__link
.breadcrumb__last
.breadcrumb__sep
  color #adadad
  font-size 14px
  font-weight 600
  letter-spacing .25px
  line-height 1
  text-transform none
  transition all 150ms ease-in-out

.breadcrumb__sep
  margin 0 4px

body:not(.cms-home)
  .title
  .prod__title
  .page-title h1
    border-bottom 1px dashed #424242
    color black
    font-size 17px
    font-weight 600
    letter-spacing .3px
    line-height 1
    margin-bottom 15px
    padding 16px 0
    text-transform uppercase

.title + .subtitle
  margin 0 0 15px

.accountlogin__new ul
  margin-bottom 20px

.fieldset .legend
.form-list > li:not(:last-child):not(.fields)
  margin-bottom 10px

.qty-wrapper .msg
  background-color $cor01
  color white

  &:before
    border-top-color $cor01

::-webkit-scrollbar
  height 5px
  width 5px

::-webkit-scrollbar-track
  background-color #f7f7f7


::-webkit-scrollbar-thumb
  background-color $cor01

::-moz-selection
  background-color rgba(1, 174, 219, .8)
  color white

::selection
  background-color rgba(1, 174, 219, .8)
  color white

body.cms-home .wrapper
  .main-container
    padding 0 0 30px
    position relative

    > .main
      position relative
      z-index 400

.wrapper .main-container
  margin 0
  padding 0

body:not(.cms-home) .main-container .main
  padding-bottom 50px

.std table th, .std table td
  padding 5px

.std thead td
.std thead th
  background-color #333
  text-align center


.main
  padding 0 20px
