@svg-load user url("../svg/user.svg")
  fill $cor01
  height 18px
  width 18px

@svg-load phone url('../svg/phone.svg')
  fill $cor01
  height 20px
  width 20px

@svg-load search url('../svg/search.svg')
  fill $cor01
  height 18px
  width 17px

@svg-load cart url('../svg/cart.svg')
  fill $cor01
  height 27px
  width 29px

@svg-load shipping url('../svg/shipping.svg')
  fill $cor01
  height 24px
  width 29px

@svg-load cards url('../svg/cards.svg')
  fill $cor01
  height 25px
  width 25px

@svg-load safe url('../svg/safe.svg')
  fill $cor01
  height 24px
  width 18px

@svg-load whatsapp url('../svg/whatsapp.svg')
  fill $cor01
  height 24px
  width 24px

@svg-load menu url('../svg/menu.svg')
  fill white
  height 15px
  width 19px

@svg-load menu2 url('../svg/menu.svg')
  fill #4ea584
  height 15px
  width 19px

@svg-load close url('../svg/close.svg')
  fill #959595
  height 9px
  width 10px

@svg-load tag url('../svg/tag.svg')
  height 39px
  width 35px

@svg-load close-hover url('../svg/close.svg')
  fill red
  height 9px
  width 10px

@svg-load logo url('../svg/logo.svg')
  height 154px
  width 251px

@svg-load phone2 url('../svg/phone2.svg')
  fill $cor01
  height 30px
  width 35px

@svg-load whats2 url('../svg/whatsapp.svg')
  fill $cor01
  height 31px
  width 31px

@svg-load email url('../svg/email.svg')
  fill $cor01
  height 30px
  width 33px

@svg-load support url('../svg/support.svg')
  fill $cor01
  height 30px
  width 29px

@svg-load logo2 url('../svg/logo.svg')
  height 76px
  width 123px


// Categorias
@svg-load cama url('../svg/categories/cama.svg')
  fill #4ea584
  height 23px
  width 25px

@svg-load mesa url('../svg/categories/mesa.svg')
  fill #4ea584
  height 23px
  width 26px

@svg-load banho url('../svg/categories/banho.svg')
  fill #4ea584
  height 23px
  width 30px

@svg-load infantil url('../svg/categories/infantil.svg')
  fill #4ea584
  height 23px
  width 25px

@svg-load personagens url('../svg/categories/personagens.svg')
  fill #4ea584
  height 23px
  width 19px

@svg-load decoracao url('../svg/categories/decoracao.svg')
  fill #4ea584
  height 23px
  width 16px

@svg-load utilidades-domesticas url('../svg/categories/utilidades-domesticas.svg')
  fill #4ea584
  height 23px
  width 19px

@svg-load vendas-no-atacado url('../svg/categories/vendas-no-atacado.svg')
  fill #4ea584
  height 23px
  width 30px