html
  background white

.wrapper
  padding 0

.header
.main-container
.footer
  max-width none

.logo
  img
  svg
    height auto
    max-width 100%
    width auto

.header
  .mywish
  .mycart
  .myaccount
  .loginout
    margin 0
    text-align left

input:not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=file])
  border 0 none
  box-shadow none

.mycart__header a
  border 0 none
  border-radius 0
  box-shadow none
  height auto
  width auto

.mycart:hover .mycart__header a
  background-color transparent

.categories .a--0
  height auto
  padding 0
  line-height 1

.banner__link:hover
  opacity 1

a:hover
  color $cor01