.prod__img
  flex 1 1 auto

.prod__shop
  display block
  flex 0 0 460px

  .product-rate
    margin-bottom 20px

.product-image-gallery
  box-shadow none
  margin 0

.product-image-container
  display flex
  margin 0

.product-image-thumbs
  margin 0

  .thumb-link
    border-radius 0

  li
    margin 0 0 9px
    padding 0

    &:last-child
      margin-bottom 0

  img
    height 120px
    max-width none
    width 120px

.more-views
  flex 0 0 130px
  margin-right 10px
  max-height 508px
  padding-right 10px
  order -1
  overflow auto

.product-image
  flex 1 1 auto

.product-image-thumbs
  display block

.product-image-thumbs .thumb-link:hover, .product-image-thumbs .thumb-link.on
  border 0 none
  box-shadow none

.prod__infos
  border-bottom 1px solid #e1e1e1
  margin-bottom 30px
  padding-bottom 25px

.prod__name
  margin-bottom 20px

  h1
    color black
    font-size 20px
    font-weight 600
    letter-spacing .5px
    line-height 21px
    text-transform uppercase

.prod__short-desc
  color #868686
  font-size 12px
  font-weight 400
  letter-spacing .5px
  line-height 20px
  text-align justify

  > *
    display inline

  .see-more
    color black
    cursor pointer
    font-weight 600
    text-transform uppercase
    transition all 150ms ease-in-out

    &:hover
      color $cor01

.reviews__resume
.reviews__ratings
.reviews__add
  box-shadow none
  padding 0

.subtitle
  color #333
  font-size 14px
  font-weight 600
  letter-spacing .2px
  text-transform uppercase

.reviews__resume
  flex 0 0 230px

  .product-rate
    .rating-box
      order 10

    .amount
      color #333
      font-size 13px
      font-weight 500
      letter-spacing .3px
      text-transform uppercase
      opacity 1


.product-rate
  .percent
    .text
      color black
      font-size 55px
      font-weight 500

  .rating:before
    color $cor01
    font-size 13px

  .rating-box:before
    color #d5d5d5
    font-size 13px

.reviews__no-reviews
  padding-top 90px

.reviews__ratings
  flex 0 0 415px
  margin 0 70px

.reviews__content

  .reviews__add
    flex 1 1 auto

    .title
      border 0 none
      color #929292
      font-size 13px
      font-weight 500
      line-height 18px
      text-transform none

      span
        color $cor01
        display block
        text-transform uppercase

.form-list
  label
  label em
    color #333
    font-size 12px
    font-weight 500
    letter-spacing .4px
    padding 0

.review-summary
  justify-content flex-start

  li
    height auto
    flex 0 0 auto
    margin 0 5px 0 0

    &:last-child
      margin-right 0

  .active
    label:before
      color $cor01
      transform none

  label
    opacity 1

    &:before
      color #d5d5d5
      font-size 13px
      opacity 1

.related__title
.related__subtitle
.related__add-checkbox
  display none

.reviews
  .reviews__title
    margin-bottom 25px

  .form-list
    .wide:first-child
      margin-bottom 0