.catalog-product-view

  .breadcrumb
    margin-bottom 0

  .main-container > .main
    max-width none
    width auto

  #banner__bannerregua
    height auto
    margin 40px 0 0

    width 100%
    .banner__wrapper
      width 100%
      max-width none

  .main-container
    .showcase-lane
      @extend .center
      margin-bottom 100px

      &.product__reviews
        margin-bottom 0



.prod__img
  flex 1 1 520px

.product-image-gallery
  box-shadow none
  margin 0

.product-image-container
  display flex
  margin 0

.product-essential
  @extend .center
  background-color white
  margin 0 auto 100px
  padding 20px 80px

.brand
  padding 0



.product-image-thumbs
  margin 0

  .thumb-link
    border-radius 0

  li
    margin 0 0 9px
    padding 0

    &:last-child
      margin-bottom 0

  img
    height 120px
    max-width none
    width 120px

.more-views
  display none

.product-image
  flex 1 1 auto

.product-image-thumbs
  display block

.product-image-thumbs .thumb-link:hover, .product-image-thumbs .thumb-link.on
  border 0 none
  box-shadow none

.prod__infos
  margin-bottom 30px

.prod__name
  margin-bottom 15px

  h1
    color $cor01
    font-size 24px
    font-weight 700
    letter-spacing .5px
    line-height 30px
    text-transform uppercase

.prod__shop
  .price-box .minimal-price, .price-box .regular-price, .price-box .special-price
    font-size 30px
    font-weight 700
    letter-spacing .25px

.reviews__resume
.reviews__ratings
.reviews__add
  box-shadow none
  padding 0

.subtitle
  color $cor01
  font-size 18px
  font-weight 600
  letter-spacing .25px
  text-transform none
  margin-bottom 40px

.product-collateral .product-rate .rating:before
  font-size 32px

.reviews__resume
  flex 0 0 230px


.prod__shop .product-rate .to-rate
  color #484848
  font-size 14px
  font-weight 600
  letter-spacing .25px

.reviews__no-reviews
  padding-top 90px

.reviews__add .btn
  background-color $cor01

  &:hover
    background-color white
    border-color $cor01

.reviews__resume .product-rate .percent
  display none

.reviews__resume .product-rate
  justify-content flex-start
  align-items flex-start

.reviews__ratings
  flex 1 1 auto
  margin 0 65px 0 0
  order -1

.reviews__resume .product-rate .amount
  &:before
    content 'Baseado em '

  &
  &:before
    color #494949
    font-size 14px
    font-weight 400
    letter-spacing .5px

.product-collateral .product-rate .rating-box:before
  font-size 32px

.reviews__content

  .reviews__add
    flex 1 1 auto

    .title
      border 0 none
      color #929292
      font-size 13px
      font-weight 500
      line-height 18px
      text-transform none

      span
        color $cor01
        display block
        text-transform uppercase

.prod__shop
  display block
  flex 0 0 440px

  .price-box .old-price
    margin-bottom 10px !important

  .product-rate
    margin-bottom 20px


  .price-box-parcelado
    margin-bottom 25px

    .preco-parcelado

      & span
        color #868686
        font-size 15px
        font-weight 500
        letter-spacing .5px

      .num
      .value
        span
          color black
          font-weight 500

  .add-to-cart-buttons
    align-items stretch
    display flex

    &[style*="block"]
      display flex !important

  .qty-wrapper
    align-items stretch
    display flex
    position relative
    transform none
    margin -2px 0 0
    user-select none
    position absolute
    left 20px
    top 50%
    transform translateY(-50%)
    width 60px

    .input-box
      align-items center
      display flex
      width 100%

    input
      background-color #5c9000
      border 0 none !important
      border-radius 0 !important
      color white
      font-size 18px
      font-weight 400
      height 44px
      transition all 150ms ease-in-out
      width 45px

      &:focus
        color white

    .bt-box
      background-color #f6f6f7
      border-radius 3px
      box-shadow none
      position static
      width auto
      order -1
      transform none
      overflow hidden
      flex 0 0 auto

    .bt
      background-color transparent
      border-radius 0
      display block
      height 25px
      width 15px
      position relative
      transition all 150ms ease-in-out

      &:hover
        background-color $cor01

        &:before
          color white

      &:before
        color #6aa601
        line-height 25px
        transition all 150ms ease-in-out

      &.plus
        &:after
          content ''
          border-bottom 1px solid #cdcccd
          position absolute
          width 9px
          left 50%
          bottom -1px
          transform translateX(-50%)


      span
        display none

      &.type
        display none


  .add-to-cart
    margin-bottom 50px

  .add-to-cart-btn
    background-color #6aa601
    border 0 none
    border-bottom 4px solid #578800
    font-size 24px
    font-weight 400
    height 66px
    padding 0 0 0 40px
    transition all 150ms ease-in-out
    max-width 350px
    width 100%

    &:hover
      background-color #6aa601
      color white

  .price-box
    justify-content flex-start
    height auto
    align-items flex-start
    margin-top 40px

  .price-box-avista
    text-align left
    margin-bottom 0

.frete
  margin-bottom 24px !important

.frete__title
  display block

#simuladorCase
  display flex
  flex-wrap wrap

  .frete__title
    display inline-flex
    align-items center
    border 0 none
    flex 0 0 100%
    box-shadow none
    text-align left
    justify-content flex-start
    padding 0

    &:before
      content url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAB/0lEQVQ4jZ3UTYhPURjH8c//eJsRExl5SWykhKQpCxuGjc0UsXDzsnBFFnZKCtlYSMmGMnWlxF2NIhajvJVEIS/ZKAuFGk0mURjca3HPn9u/MWp+m/Ocep7vec7znOc0yrIU0nw5DqMb33AFR4osGTRGNRo7Ly3DbczAOczFejzF2iJLhsYCHh8znYELRZakIc0nx4NWYkdI87dYjZ8I+IQzRZYM/A+8ItqL4tqBBdFegpnY1xI3jGMhzTvivoHPRZYUTYeAj9FurzlNiPZQ9GnVpJDmp3EPN3ELd0Kaz6mDz7cElZgY1370jACeiu04gg3R5xoO1sFncRxzQ5q/wv2Y6RaswdIRwPAV74oseVdkyXucxOKQ5guhEZ/bfHShU9WkNzGT1to2dQoJduAhQpElQyHNt2Eddo+PjhtxCC9U9V0er/svlfiFi6p3H0Kanyiy5FRI8160NcHDMdvuUWAjwTtr+wMhzV/iB7pG6vhYNRs3VM/1SxM8scXp238gk9A2in97sxSP8F5V3148UQ1JGiFlLWgYlzENq9CHB5iFvZiH/kZZVjEhzadjiqrjPXimauhajKuBf8W1iAl0YxdeYys+FFny9g84wmdiQDV9sCke1lbLuuHvND7HVdVfA5uLLOmj+ivqGoxZ7sFdXC+y5LtRFNL8KPbjsWq8wW+3lJOz7f5yZAAAAABJRU5ErkJggg==')
      margin-right 10px
      flex 0 0 auto

    span
      color #908e8f
      font-size 14px
      font-weight 400


    &:hover
      background-color transparent

    svg
      display none

.frete__content
  display block

.frete__form
  background-color #f7f7f7
  display flex
  position relative

  label
    display none


  .frete__actions
    position static

    .btn
      background-color transparent
      border 0 none
      border-left 1px solid #e1e1e1
      height 100%
      line-height 0
      padding 13px 15px
      transition all 150ms ease-in-out

      &:before
        color black
        content 'Calcular'
        font-size 13px
        font-weight 500
        letter-spacing .8px
        line-height 15px
        text-transform uppercase
        transition all 150ms ease-in-out

      &:hover
        border 0 none
        border-left 1px solid #e1e1e1

        &:before
          color $cor01

      span
        display none

  .input-text
    background-color #f7f7f7
    border 0 none !important
    color #908e8f
    font-size 18px
    font-weight 400
    letter-spacing 1px
    line-height 1
    height 55px
    padding 0 15px
    text-align center
    transition all 150ms ease-in-out
    width 180px

    &:hover
    &:focus
      border-color $cor01 !important

.frete__naosei
  line-height 1
  margin-top 10px
  text-align right

.frete
  .frete__results
    margin-top 10px
    padding 5px 15px 15px 15px
    width 100%

    .title
      font-size 13px
      padding 10px 0

    dt
      font-size 11px
      letter-spacing .5px
      margin-bottom 10px

    dl
      margin-bottom 10px

    dd
      font-size 11px
      letter-spacing .5px

    .demo
      color #999
      display inline-block
      font-size 9px
      line-height 13px


.frete__close
  background-color transparent
  border 0 none
  color $cor01
  padding 0
  top 12px
  right 13px

  &:before
    transition all 150ms ease-in-out

  &:hover
    border 0 none
    &:before
      color black

.sharing-links
  .list
    border-bottom 1px solid #e1e1e1
    display flex
    margin 0
    justify-content center
    padding-bottom 20px

    &:before
      color #868686
      content 'Compartilhe!'
      font-size 12px
      font-weight 400
      letter-spacing .18px
      margin 0 10px 0 0
      opacity 1
      text-transform uppercase

    li
      flex 0 0 auto
      margin 0 5px

    a
      background-color transparent
      border-radius 0
      height auto
      width auto

    svg
      fill $cor01

  .gp-share
  .tb-share
  .lk-share
  .email-to-friend
    display none

.price-floater
  background-color white
  border 1px solid #ebebeb
  border-right 0 none
  box-shadow 4px 4px 5px 0 rgba(0, 0, 0, .18)
  opacity 0
  padding 16px
  position fixed
  right 0
  top 50%
  transform translateY(-50%)
  transition all 150ms ease-in-out
  visibility hidden
  width 251px
  z-index -1

  .price-box
    margin 0 0 5px

    .old-price
      margin-bottom 5px !important

  .regular-price
  .special-price
    .price span
      font-size 27px
      font-weight 700

  .price-box-parcelado
    margin-bottom 15px

  .add-to-cart
    margin 15px 0 0

  .add-to-cart-btn
    font-size 16px

    span
      display none

    &:before
      content 'Comprar'
      display block
      line-height 15px

.price-floater--on
  opacity 1
  visibility visible
  z-index 500

.price-floater--closed
  opacity 1
  visibility visible
  z-index 500
  right -251px

  .price-floater__close
    &:hover
      &:before
        color $cor01
        content: "\f053";
        font-family: "biz_icons",sans-serif;

    &:before
      color white
      content: "\f053";
      font-family: "biz_icons",sans-serif;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      font-size 13px
      line-height 1




.price-floater__close
  &:hover
    &:before
      background-color white
      border-color $cor01
      content svg-inline(close2-hover)

  &:before
    align-items center
    background-color $cor01
    border 1px solid transparent
    content svg-inline(close2)
    cursor pointer
    display flex
    height 30px
    justify-content center
    line-height 0
    width 30px
    left -30px
    top -1px
    position absolute
    transition all 150ms ease-in-out

.form-list
  label
  label em
    color #333
    font-size 12px
    font-weight 500
    letter-spacing .4px
    padding 0

.jointsales__row
  align-items flex-start
  padding 0

.jointsales__items
  flex 0 0 auto
  max-width none
  padding 0
  width 100%


.jointsales__current
.jointsales__list
  flex 1 1 350px
  margin-right 110px
  padding 0

  .thumb
    flex 0 0 34%
    margin 0 20px 0 0

  .old-price
    .label
      display none

  .regular-price
  .special-price
    .label
      display none

    .price
      color black
      font-size 16px
      font-weight 700

.jointsales__currentin
  box-shadow none
  padding 0

.jointsales
  .jointsales__items
    .title
      border-bottom 1px solid #dadada
      color #959595
      font-size 13px
      font-weight 500
      letter-spacing .49px
      line-height 18px
      height 58px
      padding 0 0 4px
      overflow hidden
      text-transform uppercase

  .more
    font-size 0
    height auto
    right -70px
    line-height 0
    transform none
    top 50px
    width auto

    &:before
      display none

    &:after
      color black
      content '+'
      display block
      font-size 40px
      font-weight 600
      line-height 23px

.jointsales__item
  align-items center
  max-width none
  display flex
  padding 0

.jointsales__values
  position relative

  &:before
    color black
    content '='
    display block
    font-size 40px
    font-weight 600
    line-height 23px
    position absolute
    top 50px
    left -68px


.jointsales__totals
  color #868686
  font-size 13px
  font-weight 400
  letter-spacing .2px
  line-height 17px
  margin 0

  .economize
    background $cor01
    border-radius 0
    margin-top 10px
    text-align center
    width 100%

.jointsales__payments
  margin 0
  line-height 15px

  .parcelamento
    .s-juros
    .num
    .value
      background-color transparent
      color black
      font-size 13px
      font-style normal
      font-weight 700
      padding 0

    .s-juros
      color #868686
      font-weight 400

.jointsales__action
  margin-top 1px

  button
    font-size 13px
    letter-spacing .3px
    line-height 13px
    padding 11px 0
    height 37px
    width 100%


.product__description
  .std
    p
    span
    li
      color #908e8f
      font-family $font01 !important
      font-size 24px
      font-weight 400
      letter-spacing .25px
      line-height 48px

    p
      margin-bottom 25px

    ul
      margin-bottom 25px

    li
      line-height 1

      span
      p
        line-height 1
        margin 0

.product__details
  padding-top 10px

  h2
    color $cor01
    display block
    font-size 14px
    font-weight 500
    letter-spacing .24px
    margin-bottom 12px
    text-transform uppercase

  table
    border 0 none

    tr
      background-color white

      &:nth-child(odd)
        background #f7f7f7

    td
    th
    th:first-child
    td:first-child
    th:last-child
    td:last-child
      border 0 none

    td
    th
      &
      &:first-child
        color #929292
        font-size 14px
        font-weight 500
        letter-spacing .24px
        line-height 17px
        padding 9px 10px

      @media (min-width 1200px)
        &:first-child
          white-space nowrap




.review-summary
  justify-content flex-start

  li
    height auto
    flex 0 0 auto
    margin 0 5px 0 0

    &:last-child
      margin-right 0

  .active
    label:before
      color $cor01
      transform none

  label
    opacity 1

    &:before
      color #d5d5d5
      font-size 13px
      opacity 1

.related__title
.related__subtitle
.related__add-checkbox
  display none

.reviews
  .reviews__title
    margin-bottom 25px

  .form-list
    .wide:first-child
      margin-bottom 0

  .reviews__list
    .title
      border 0 none
      color black
      font-size 14px
      font-weight 600
      letter-spacing .2px
      margin 0 10px 0 0
      padding 0
      text-transform uppercase

  .customer-message
    color #4b4b4b
    font-size 14px
    font-weight 600
    letter-spacing .2px
    line-height 16px
    margin-bottom 5px
    text-transform none


.reviews__list
  .name
  .label
  .date
    color #929292
    font-size 13px
    font-weight 600
    letter-spacing .2px

  .label
    text-transform capitalize

  .details
    margin-top 23px


  li
    padding-bottom 25px
    position relative

    &:not(:first-child)
      border 0 none
      padding-top 25px

      &:before
        border-top 1px solid #e5e5e5
        content ''
        display block
        max-width 360px
        position absolute
        left 1rem
        top 0
        width 100%

.product-rate .rating-box
  height auto

#continuar-finalizar
  .actions
    a
      @extend .btn
      background-color black

    a.btn-checkout
      @extend .prod__shop .add-to-cart-btn
      background-color $cor01

#product_addtocart_form
  align-items flex-start
  display flex
  flex-wrap wrap

.attributes-list
  display flex
  align-items center
  margin-bottom 20px

.prod__brand
  margin-bottom 10px

.attributes-list__item
  align-items center
  background-color #007034
  border-radius 50%
  color white
  display inline-flex
  font-size 10px
  font-weight 400
  justify-content center
  line-height 12px
  letter-spacing .5px
  text-align center
  height 65px
  margin-right 15px
  text-transform uppercase
  width 65px

  &:last-child
    margin-right 0

  &.attributes-list__item--gluten
    background-color #8c8535

  &.attributes-list__item--acucar
    background-color #5eb89d

.tabs
  padding-top 30px

.tabs__content
.tabs__tab
.tabs__tab.on
.tabs__tab:hover
  background-color transparent
  border 0 none

.tabs__tab
  span
    color #494949
    font-size 18px
    font-weight 700
    letter-spacing .5px
    text-transform uppercase

.tabs__tab.on
  span
    color $cor02

#customer-reviews
  background-color transparent
  margin-bottom 0

  .reviews__title
    display none

  .reviews__content
    display flex
    justify-content space-around
    padding 0

#product-review-table
  .form-list
    display flex
    flex-wrap wrap

    > *
      flex 0 0 100%

    .wide:nth-child(4)
      order 0
      margin-bottom 10px

    .wide:nth-child(1)
      order 1

    .wide:nth-child(2)
      order 3

    .wide:nth-child(3)
      order 2

  input
  textarea
    border 1px solid #c0c1c1 !important
    border-radius 5px

.upsell__title
.reviews__content .reviews__add .title
  display none

.reviews__content .reviews__add
  flex 0 0 285px

.reviews__return.success
.reviews .be-first
.review-summary .active label:before
  color $cor02

.showcase__title
  @extend .products__title
