@media (max-width 1200px)

  .product-image-container
    display block

  .more-views
    margin 10px 0 0
    padding 0

  .product-image-thumbs
    display flex
    flex-wrap nowrap

    li
      flex 0 0 22.8%
      margin-right 3%

      &:last-child
        margin-right 0

      img
        height auto
        width 100%

  .prod__shop
    .product-rate .to-rate
      font-size 11px

    .price-box-parcelado
      margin-bottom 20px

    .qty-wrapper
      margin-right 20px

    .add-to-cart-btn
      font-size 16px
      flex 1 1 auto

    .old-price
      margin-bottom 5px !important

  .price-floater
    align-items center
    border 0 none
    border-top 1px solid $cor01
    bottom -78px
    display flex
    left 0
    right auto
    opacity 1
    visibility visible
    transform none
    top auto
    padding 10px 15px
    transition all 250ms ease-in-out
    z-index 300
    width 100%

    .price-floater__prices
      flex 0 0 auto
      margin-right 15px
      white-space nowrap

    .old-price
      margin-bottom 5px !important

      .price
        span
          font-size 11px

    .regular-price
    .special-price
      margin 0

      .price span
        font-size 19px

    .price-box-parcelado
      height auto
      margin 0

      .preco-parcelado span
        font-size 11px

    .qty-wrapper
      display none

    .add-to-cart
      flex 1 1 auto

  .price-floater__close
    display none

  .price-floater--on
    bottom 0

  .prod__short-desc
    font-size 11px
    line-height 18px

  .prod__infos
    margin-bottom 15px
    padding-bottom 10px

  .frete__content
    position static
    height auto
    overflow visible
    width auto
    padding 0

  .frete__form .input-text
    padding-left 80px

  .frete__form label:before
    display none

  .frete.on .frete__results
    position static
    height auto
    width auto

  .frete
    margin-bottom 20px !important

  .jointsales
    .title
      margin 0

  .jointsales .title
    margin 0 !important

  .jointsales__current
  .jointsales__list
    margin 0 0 20px

  .jointsales__current
    margin-bottom 40px

  .jointsales__item
    flex-wrap nowrap

  .jointsales__current
  .jointsales__list
    .thumb
      margin-right 10px
      padding 0

  .jointsales .jointsales__items .title
    font-size 11px
    line-height 14px
    height auto
    margin-bottom 10px !important
    max-height 46px
    padding-bottom 4px

  .jointsales .more
    right auto
    left 50%
    top auto
    bottom -30px
    transform translateX(-50%)

  .jointsales__action button
    font-size 15px
    height auto
    padding 13px 0

  .related__title:after
  .recommended__title:after
  .whosaw__title:after
  .jointsales__title:after
  .upsell__title:after
    color $cor01
    font-size 27px
    line-height 15px

  .sharing-links .ico
    height 25px
    width 25px

  .sharing-links .list li
    margin 0 10px

  .product__description .std p, .product__description .std span
    font-size 11px
    line-height 18px

  .prod__name
    margin-bottom 15px

  .product__description .std p, .product__description .std ul
    margin-bottom 15px

  .product__details table td, .product__details table td:first-child, .product__details table th, .product__details table th:first-child
    font-size 11px
    line-height 14px

  .reviews__title
    margin 0

  .reviews__title:after
    color $cor01

  .reviews .subtitle
    border 0 none
    color black
    font-size 18px
    margin-bottom 20px
    opacity 1

  .reviews__ratings
    margin 0

  .reviews__list
    min-height 0
    max-height none
    margin 0
    overflow visible

    li
      padding 0 0 25px

  .reviews__ratings
    flex 0 0 100%


  .reviews__resume .product-rate
    margin-bottom 30px

  .reviews__list .details
    margin-top 10px

  .reviews .customer-message
    font-size 13px

  .reviews__list li:not(:first-child)
    border-top 1px solid #e5e5e5

    &:before
      display none

  .reviews__ratings
    margin-bottom 10px

  .reviews__content .reviews__add .title
    padding-top 0

  .product__related
    .showcase__title
      font-size 18px

    .showcase__sub
      font-size 11px

  .related__content
    padding 0
    position static
    height auto
    width auto
    transform none
    overflow visible

    .products
      overflow visible


  .related__hide
    display none

  .carrossel
    margin-top 20px

    .products__list
      overflow visible

    .products__case
      height auto

    .showcase__buy button
      display none

    .products__item
      padding-top 5px

  .prod__img
    margin-bottom 30px


  #continuar-finalizar
    .actions
      justify-content space-between

      a
        font-size 9px
        margin 0
        padding 10px
        height auto

      a.btn-checkout
        font-size 11px
        height auto

        @media (max-width 350px)
          font-size 9px
