#banner__bannerhomefull
  margin 0 auto

#banner__bannerregua
  position relative
  z-index 400

body.catalog-category-view
body.catalogsearch-result-index
  .main-container > .banner
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    width auto

    img
      max-width none

  .main
    background-color white

#banner__bannerhome
  position relative
  z-index 300

  .owl-item
    transition all 1000ms ease-in-out
    opacity 0

    &.active
      position relative
      opacity 1
      z-index 400

  .banner__link
    overflow visible

  .owl-wrapper-outer
    overflow visible

    img.d_img
      height auto
      top 0
      transform translate(-50%, 0)

.main .col-main .banners-extras
  margin-bottom 38px

.banner--nojs .banner__wrapper
  column-count auto

.cms-home .header-container + .banner
  margin 0

#banner__bannervitrine
  margin-bottom 70px

  .banner__wrapper
    display flex
    justify-content space-between

    > *
      width auto
      flex 0 0 auto

#banner__bannerregua
  @extend .center
  align-items center
  background-color white
  display flex
  height 123px
  margin 0 auto 40px

  .banner__wrapper
    display flex
    justify-content space-around
    width 100%

    > *
      flex 0 0 auto
      width auto

#banner__post
  background-color transparent
  height auto
  margin-bottom 45px

  .banner__wrapper
    display flex
    justify-content space-between

    > *
      flex 0 0 auto
      width auto


#banner__extra
  margin-bottom 30px

  .banner__wrapper
    align-items center
    display flex
    flex-flow column wrap
    height 462px
    justify-content space-between

    > *
      flex 0 0 auto
      width auto

#menuvitrine
  margin-bottom 40px

  .ul--0
    display flex
    background-color white
    border-radius 5px
    padding 25px 0
    justify-content center

  .li--0
    border-left 1px solid #f3f3f3
    display block
    flex 1 1 100px
    margin 0

    &:first-child
      border-left 0 none

  .a--0
    color $cor02
    display flex
    font-size 14px
    font-weight 600
    flex-flow column wrap
    justify-content flex-end
    height 90px
    text-align center
    text-transform uppercase
    transition all 150ms ease-in-out

    &:hover
      color $cor01

.products__list .price-box > span:not(:last-child)
  margin 0

#banner__bannercategory
  margin 0

body.catalog-category-view
  .header-container + .banner
    img
      max-width none
      left 50%
      position relative
      transform translateX(-50%)
