#banner__bannerhomefull
  margin 0 auto

.main .col-main .banners-extras
  margin-bottom 38px

.banners-extras
  align-items stretch
  display flex
  justify-content space-between

  .banner--nojs .banner__item
    overflow visible

  .banner__item
    line-height 0

  .banner__link
    border-radius 0
    display inline-block
    overflow hidden
    position relative
    transition all 150ms ease-in-out
    width auto

    &:before
      background-color white
      color $cor01
      content attr(title)
      font-size 13px
      font-weight 500
      letter-spacing .49px
      text-transform uppercase
      line-height 15px
      position absolute
      padding 11px 15px
      transition all 150ms ease-in-out
      top 40px
      z-index 200

    img
      transition all 150ms ease-in-out


.banners-extras__middle
  display flex
  flex-flow column nowrap
  flex 1 1 auto
  justify-content space-between
  max-width 555px

  > .banner:first-child
      .banner__link

        @media (min-width 1201px)

          &:hover
            &:before
              right -100%

          &:before
            right 0

.banners-extras__bottom
  display flex
  justify-content space-between

  .banner:nth-child(1)
    .banner__link

      @media (min-width 1201px)
        &:hover
          &:before
            left -100%

        &:before
          left 0

  .banner:nth-child(2)
    .banner__link
      @media (min-width 1201px)
        &:hover
          &:before
            right -100%

        &:before
          right 0

.banners-extras__left
.banners-extras__right
  display flex
  flex 1 1 200px
  flex-flow column nowrap

.banners-extras__left
  .banner__link

    @media (min-width 1201px)
      &:hover
        &:before
          left -100%

      &:before
        left 0

.banners-extras__right
  align-items flex-end
  justify-content space-between

  .banner__link

    @media (min-width 1201px)
      &:hover
        &:before
          right -100%

      &:before
        right 0

.banner--nojs .banner__wrapper
  column-count auto

.cms-home .header-container + .banner
  margin 0

#banner__bannerregua
  align-items center
  background-color white
  display flex
  height 140px
  margin 0

  .banner__wrapper
    @extend .center
    display flex
    justify-content space-between

    > *
      flex 0 0 auto
      width auto

#banner__post
  background-color transparent
  height auto
  margin-bottom 45px

  .banner__wrapper
    display flex
    justify-content space-between

    > *
      flex 0 0 auto
      width auto


#banner__extra
  margin-bottom 30px

  .banner__wrapper
    align-items center
    display flex
    flex-flow column wrap
    height 462px
    justify-content space-between

    > *
      flex 0 0 auto
      width auto

#menuvitrine
  margin-bottom 40px

  .ul--0
    display flex
    background-color white
    border-radius 5px
    padding 25px 0
    justify-content center

  .li--0
    border-left 1px solid #f3f3f3
    display block
    flex 1 1 100px
    margin 0

    &:first-child
      border-left 0 none

  .a--0
    color $cor02
    display flex
    font-size 14px
    font-weight 600
    flex-flow column wrap
    justify-content flex-end
    height 90px
    text-align center
    text-transform uppercase
    transition all 150ms ease-in-out

    &:hover
      color $cor01

.products__list .price-box > span:not(:last-child)
  margin 0

#banner__bannercategory
  margin 0

body.catalog-category-view
  .header-container + .banner
    img
      max-width none
      left 50%
      position relative
      transform translateX(-50%)
