@media (max-width 1200px)

  #banner__bannerregua
    display none

  .banners-extras
    flex-wrap wrap

    .banner__link
      &:before
        font-size 10px
        padding 6px 8px

  .banners-extras__left
    margin-right 15px
    order 0

  .banners-extras__right
    order 1

  .banners-extras__left
  .banners-extras__right
    flex 1 1 100px

  .banners-extras__middle
    flex 0 0 100%
    margin-top 15px
    order 2

    .slide--1
      margin-bottom 15px

  .banners-extras__bottom
    .banner:first-child
      margin-right 15px

  #banner__extra
    display none

  #menuvitrine .ul--0
    flex-flow row wrap
    padding 10px 0 0

  #menuvitrine .li--0
    flex 1 1 130px
    margin-bottom 10px

  #banner__post
    display none

  body.catalog-category-view .banner--nojs img.d_img
    max-width 260%


  #banner__bannervitrine
    margin-bottom 20px
    .banner__wrapper
      flex-wrap wrap

      &>*
        flex 1 1 220px
