@media (max-width 1200px)

  .banners-extras
    flex-wrap wrap

    .banner__link
      &:before
        font-size 10px
        padding 6px 8px

  .banners-extras__left
    margin-right 15px
    order 0

  .banners-extras__right
    order 1

  .banners-extras__left
  .banners-extras__right
    flex 1 1 100px

  .banners-extras__middle
    flex 0 0 100%
    margin-top 15px
    order 2

    .slide--1
      margin-bottom 15px

  .banners-extras__bottom
    .banner:first-child
      margin-right 15px

