body.catalog-category-view
  .banner--nojs img.d_img
    margin 0 auto

  .filters__filter
    .a--0
      display none

    .a--0current
      display block

      & + .ul--1
        display block

    .ul--1
      display none


.col2-left-layout
  > .main
    display flex

.col-left
  flex 0 0 260px
  margin-right 30px
  max-width none
  padding 0

.col-main
  flex 1 1 auto

.filters
  .title
    display none

.filters__filter
  border 0 none
  box-shadow none
  padding 0

  &:hover
    box-shadow none