body.catalog-category-view
body.catalogsearch-result-index
  .banner--nojs img.d_img
    margin 0 auto

  .filters__filter
    background transparent

    .a--0current
      display block

      & + .ul--1
        display block

  .toolbar .amount
    visibility hidden

  .col-left
    display none

.col2-left-layout
  > .main
    display flex

.col-left
  flex 0 0 284px
  margin-right 56px
  max-width none
  padding 0

.col-main
  flex 1 1 auto

.filters
  .title
    display none

.main-container .filters__list
  @extend .center
  align-items center
  background-color $cor01
  display inline-flex
  height 80px
  margin 0 0 55px
  padding 0 30px
  position relative
  left 50%
  transform translate(-50%)
  z-index 500

  &:before
    content 'Filtros:'
    color white
    font-size 14px
    font-weight 700
    text-transform uppercase
    flex 0 0 auto
    margin-right 130px

  .ul--0
  ol
    box-shadow 0 2px 3px 0 rgba(0, 0, 0, .3)
    position absolute
    top 100%
    left -20px
    padding 15px 20px
    max-height 250px
    overflow auto
    background-color white
    position absolute
    z-index 500
    width 250px
    transition all 150ms ease-in-out
    opacity 0
    visibility hidden
    z-index -1

  ol
    li
      margin-bottom 5px

      &:last-child
        margin-bottom 0

    .link
      transition all 150ms ease-in-out

      &:hover
        .label
          color $cor01

.filters__filter:not(:last-child)
  margin 0 50px 0 0


.filters__filter
  border 0 none
  box-shadow none
  margin 0
  padding 0
  position relative

  &:hover
    box-shadow none

  &.filters__filter--on
    .ul--0
    ol
      opacity 1
      visibility visible
      z-index 400

  .li--0
    margin-bottom 20px

    &:last-child
      margin-bottom 0

  .a--0current
  .a--0
    color #9a9a9a
    display block
    font-size 14px
    font-weight 700
    line-height 16px
    padding 5px 0
    transition all 150ms ease-in-out

    &:hover
      color $cor01


  .count
    display none

  .ul--1
    margin 0
    overflow visible
    padding 0

  .label
    color #9a9a9a
    font-size 14px
    font-weight 700
    line-height 16px
    transition all 150ms ease-in-out

  .a--1:hover
  .a--0:hover
    .label
    .count
      color $cor01

.filters__name
  align-items center
  color white
  cursor pointer
  display inline-flex
  font-size 14px
  font-weight 700
  line-height 45px
  margin 0
  padding 0
  text-transform uppercase
  transition all 150ms ease-in-out

  &:after
    background-color white
    border-radius 10px
    content url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAbUlEQVQImV3OQRGCcBTE4Q/GAmShgkTQABy0glUgAAeIgBG0AhWs4GX/DLozb97ht+/tVlU/tWjwxsevdlbjgjXzb3phRlPjgTFgOJjWJHTYTgH37FuiztnXVFKM8rlNlXK8FHg0lpgBz9TZ9QWFwxQaiGvmXQAAAABJRU5ErkJggg==')
    display inline-flex
    align-items center
    justify-content center
    line-height 0
    height 38px
    margin-left 40px
    width 38px
    transition all 150ms ease-in-out

  &:hover
  .filters__filter--on &
    color $cor03


.filters__filter .li--0:not(:last-child)
  margin 0

.filters__swatches
  margin-top 0

  .a--0
  .a--0current
    padding 0

.toolbar
  display none !important

  .view-mode
  .limiter
    display none

.filtered__filter
  font-size 13px
  max-width none

.filters__filtered
  .btn--close
    margin -1px -1px -1px 0
    padding 8px 10px

.page-title h1
  font-size 27px
  line-height 1
  letter-spacing .5px

  small
    font-size 27px
    line-height 1

.toolbar

  .sort-by label
  .amount
    color black
    font-size 12px
    font-weight 400
    text-transform uppercase
    letter-spacing .5px
    opacity 1

.category__products
  .products__list
    justify-content space-between
    padding 0 35px

.wrapper .main-container
  .category-title
  .search-title
    padding 20px 0 0

    small
      display none

    h1
      border 0 none
      color $cor01
      font-size 72px
      font-weight 600
      letter-spacing .25px
      text-align center
      text-transform uppercase
      padding 55px 0
      margin 0
      position relative
      z-index 400

    &.banner-on
      h1
        color white

.category-description
  border 0 none
  padding 0
  color: #959595;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .49px;
  line-height: 17px;
  text-align: justify;

.col-main
  .category-description
    margin-bottom 20px

.toolbar .sort-by select
  color #868686
  font-size 12px
  font-weight 400
  letter-spacing .5px


.products__item
  flex 1 1 200px
  margin-bottom 65px
  max-width 314px
  min-width 275px

.ias-noneleft
  display none !important

.filters__filter
  background-color transparent

  .ul--0
  ol
    padding 0 15px

.col-main .category-description
  display none !important

.wrapper
  .search-title
    h1
    h1 small
      font-size 16px
