@media (max-width 1200px)
  .category__products
    .products__list
      flex-wrap wrap
      overflow auto

    .products__item
      flex 1 1 150px
      min-width 0

  body.catalog-category-view .toolbar .amount
    display none
