@media (max-width 1200px)
  .category__products
    .products__list
      flex-wrap wrap
      overflow auto

    .products__item
      flex 1 1 150px
      min-width 0

    .product__name
      font-size 9px
      line-height 12px
      height 36px

    .products__case
      height auto

    .product__main
      padding 10px 8px

    .showcase__buy
      display none


  body.catalog-category-view .toolbar .amount
    display none
