@media (max-width 1200px)
  .category__products
    .products__list
      flex-wrap wrap
      overflow auto
      padding 0 15px

    .products__item
      flex 1 1 150px
      min-width 0

  body.catalog-category-view .toolbar .amount
    display none

  .main-container .filters__list
    display none

  body.catalog-category-view .main-container>.banner, body.catalogsearch-result-index .main-container>.banner
    width 100%

  .wrapper .main-container .category-title h1, .wrapper .main-container .search-title h1
    font-size 42px

  .products__item
    margin-bottom 20px
