.cart
  .page-title
    margin-bottom 0

    h1
      margin-bottom 0 !important


.cart-table
  header
    background-color transparent
    border-bottom 1px solid #e1e1e1

  .th
    color black
    font-size 13px
    font-weight 500
    letter-spacing .29px
    padding 0
    text-transform none

    &:last-child
      text-align right

  .product-cart-total
    text-align right


  main
    border 0 none

  .sku
    display none

  h2.name
    a
      color #959595
      display block
      font-size 13px
      font-weight 500
      letter-spacing .3px
      line-height 17px
      text-transform uppercase

.cart-product-line
  > div
    padding 20px 0
