body.checkout-cart-index
  .wrapper .main-container
    background-color white

  .wrapper .breadcrumb
    margin-bottom 30px

.cart
  .page-title
    margin-bottom 0

    h1
      margin-bottom 0 !important


.cart-table
  header
    background-color transparent
    border-bottom 1px solid #e1e1e1
    height 48px

  .th
    color black
    font-size 13px
    font-weight 500
    letter-spacing .29px
    padding 0
    text-transform none

    &:last-child
      flex 1 1 8%
      text-align right

  .product-cart-total
    text-align right

  .product-image
    border 1px solid #e1e1e1
    flex 0 0 107px

  main
    border 0 none

  .sku
    display none

  h2.name
    max-width 400px
    a
      color #959595
      display block
      font-size 13px
      font-weight 500
      letter-spacing .3px
      line-height 17px
      text-transform uppercase

  .btn--remove
    align-items center
    background-color transparent
    border 0 none
    display inline-flex

    &:hover
      border 0 none

      &:before
        content svg-inline(close3-hover)

      &:after
        color red

    &:before
      content svg-inline(close3)
      flex 0 0 auto

    &:after
      content 'excluir'
      color #959595
      display inline-block
      font-size 14px
      font-weight 600
      letter-spacing 0
      line-height 1
      margin-left 10px
      text-transform lowercase

  .column-change-product
  .cart-price-head:nth-child(2)
    display none

  .cart-price-head:nth-child(3)
    span
      display none

    &:before
      content 'Preço unitário'

  .cart-price-head
  .cart-qty-head
  .product-cart-price
  .product-cart-actions
    flex 1 1 14%
    display inline-flex
    justify-content center
    text-align center


  .cart-product-head
    flex 1 1 75%

  .item-options
    background-color transparent
    padding 0

    dt
      margin-bottom 5px

    dd
      font-size 11px

  .product-cart-total
    flex 1 1 8%

  .product-cart-price
  .product-cart-total
    .price
      color black
      font-size 14px
      font-weight 600
      letter-spacing 0

  .product-cart-total
    .price
      font-weight 800

  .qty-wrapper
    input
      border 1px solid #e1e1e1 !important
      border-radius 0 !important
      color #868686
      font-size 18px
      font-weight 500
      height 46px
      letter-spacing 0
      line-height 20px
      padding 13px 0
      text-align center
      transition all 150ms ease-in-out
      width 51px

      &:hover
      &:focus
        border-color $cor01 !important

      &:focus
        color $cor01

    .bt
      background-color $cor01
      border 1px solid transparent
      transition all 150ms ease-in-out

      &:hover
        background-color white
        border-color $cor01
        color $cor01

  footer
    justify-content flex-start
    margin 5px 0 25px

  .btn-empty
    background-color transparent
    border 0 none
    color #959595
    font-size 13px
    font-weight 600
    letter-spacing .29px
    padding 0
    text-transform none
    transition all 150ms ease-in-out

    &:hover
      border 0 none
      color red

.cart-product-line
  border-bottom 1px solid #e1e1e1

  &:last-child
    border-bottom 1px solid #e1e1e1

  > div
    padding 20px 0

    &:first-child
      flex 1 1 75%

.cart__boxes
  align-items flex-start
  justify-content space-between

.shipping
.coupon
  box-shadow none
  padding 0

  input[type=text]
    border 1px solid #e1e1e1 !important
    border-right 0 none !important
    border-radius 0 !important
    color #868686
    font-size 13px
    font-weight 500
    letter-spacing .8px
    line-height 16px
    padding 18px 15px
    height 50px
    transition all 150ms ease-in-out

    &:focus
    &:hover
      border 1px solid $cor01 !important

    &:focus
      color $cor01

.coupon__form
.shipping__form
  flex 1 1 auto

  .btn
    height 50px
    font-size 15px
    padding 14px 13px

.shipping__form
  margin 0

.main
  .coupon
    display flex
    align-items center
    max-width 480px

    .title
      color black
      font-size 14px
      font-weight 600
      letter-spacing .29px
      margin 0 10px 0 0
      padding 0
      border 0 none

  .shipping
  .totals
    .title
      display none

.co-shipping__methods
  margin 20px 0 0

  dt
    margin-bottom 10px

.cart__right
  max-width 455px

.co-shipping
  border 0 none
  padding 0

.shipping__postcode
  label
    color #000
    font-size 14px
    font-weight 600
    letter-spacing .29px
    margin 0 10px 0 0
    text-transform uppercase

.totals
  border 0 none
  border-top 1px solid #e1e1e1
  box-shadow none
  margin-top 40px
  padding 0

  table
    margin 0

    td
    th
      border-bottom 1px solid #e1e1e1 !important
      color black
      font-size 14px
      font-weight 600
      letter-spacing .29px
      padding 15px 0

      strong
        font-size 16px
        font-weight 800

.totals__content
  margin 0

.cart__links
  margin-top 20px

.cart__links
  .btn-continue
    background-color black
    font-size 12px
    font-weight 400
    letter-spacing .99px
    padding 16px 15px

    &:hover
      background-color white
      border 1px solid black
      color black

  .btn-checkout
    background-color $cor01
    font-size 16px
    letter-spacing .49px
    padding 16px 15px

    &:hover
      background-color white
      border 1px solid $cor01
      color $cor01
