@media (max-width 1200px)

  .cart-table .cart-price-head:nth-child(3):before
    display none

  .cart-product-line > div:first-child
    padding 0
    flex 0 0 100%

  .cart-table
    margin 0

    .product-image
      flex 0 0 80px

    h2.name
      a
        font-size 11px
        line-height 14px

    .btn--remove:after
      display none


    .cart-qty-head
      display none

    .product-cart-actions
      justify-content flex-end
      padding 0

    .cart-product-line
      padding 15px 0

  .cart__boxes
    margin 0

  .coupon
    border-bottom 1px solid #e1e1e1
    padding-bottom 15px
    margin-bottom 15px

  .shipping__postcode label
  .main .coupon .title
    display block
    font-size 11px
    white-space nowrap
    width 140px
    flex 0 0 auto

  .coupon input[type=text]
    &::placeholder
      font-size 0

  .cart__links
    margin-top 15px

    .btn-continue
      font-size 8px
      padding 6px 5px

    .btn-checkout
      font-size 13px
      padding 6px 10px

  .cart-table .product-cart-price
    flex 0 0 auto

  .cart-table .product-cart-actions
    flex 0 0 auto
    margin 0

  .main .coupon .title, .shipping__postcode label
    width auto


@media (max-width 400px)

  .cart__links
    .btn-checkout
      font-size 11px
      padding 6px 5px
