<div class="banners-extras">
    <div class="banners-extras__left">
        {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="extra_jogosdecama"}}
    </div>
    <div class="banners-extras__middle">
        {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="extra_tapetes"}}
        <div class="banners-extras__bottom">
            {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="extra_toalhas"}}
            {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="extra_toalhademesa"}}
        </div>
    </div>
    <div class="banners-extras__right">
        {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="extra_almofadas"}}
        {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="extra_velas"}}
    </div>
</div>