.col2-left-layout
  .col-main
    max-width 906px
    overflow hidden

  .col-left
    .showcase__title
      max-width none
      background linear-gradient(#01b8e3, #01b8e3 50%, $cor01 50%, $cor01 100%)

body.cms-home .wrapper .main-container > *
  @extend .center

body.cms-home .wrapper .main-container > .main
  display flex
