@media (max-width 1200px)

  .tabs-list__item
    padding-bottom 5px
    margin-right 15px

  .tabs-list__item
  .tabs-list__item .std
    font-size 14px
    line-height 18px

  .banners-lane__center, .showcase-lane__center
    padding 10px 10px 25px

  .banners-lane__center
    display none
