@media (max-width 768px)

  .budget
    background-size 250%

  .banners-list__item
    flex 1 1 250px

@media (max-width: 400px)
  .budget
    background-attachment initial
    background-size 350%

  .budget__center
    padding 0

  .about-list
    margin 50px -5px 0

  .about-list__item
    margin 5px
    flex 1 1 100px

    &:last-child
      margin-right 5px

  .about-list__number
    font-size 20px

  .about-list__name
    font-size 11px
