// Newsletter

.wrapper section.newsletter
  margin-bottom 75px

.wrapper .newsletter-lane
  margin-bottom -40px

.newsletter__center
  align-items stretch
  display flex

.newsletter__banner
  flex 0 0 auto
  max-width 60%

.newsletter__info
  align-items center
  border 1px solid #e1e1e1
  border-left 0 none
  display flex
  flex 1 1 auto
  justify-content center
  transition all 150ms ease-in-out

  &:hover
    border-color $cor01

.newsletter__form
  display flex
  flex-flow row nowrap
  flex 1 1 auto
  margin 0


  > *
    padding 0

  .input-text
    border 1px solid #e1e1e1 !important
    border-radius 0 !important
    box-shadow none
    color #959595
    font-size 15px
    font-weight 500
    height 48px
    letter-spacing .3px
    line-height 18px
    padding 15px
    transition all 150ms ease-in-out

    &::placeholder
      color #959595

    &:focus
    &:hover
      border-color $cor01 !important
      color #333

.newsletter__text
  color white
  font-size 14px
  font-weight 700
  flex 0 0 auto
  margin 0 15px 0 0
  text-transform uppercase

.newsletter__name
  margin-bottom 10px
  order 0

.newsletter__email
  order 1

.newsletter__gender
  flex 0 0 100%
  display flex
  justify-content center
  min-width 0
  order 2

.newsletter__submit
  order 3

.newsletter
  .male-label
  .female-label
    border 0 none
    border-radius 0
    color #959595
    flex 0 0 auto
    font-size 15px
    font-weight 500
    letter-spacing .3px
    line-height 49px
    padding 0
    transition all 150ms ease-in-out

    &:before
      display none

    &.checked
      background-color transparent
      border-color transparent
      color $cor01

  .female-label
    margin-right 30px
    order 0

  .male-label
    order 1

  .input-radio
    position static


// Footer
.footer-container
  background #f3f3f3
  border-bottom 3px solid $cor01
  margin 0
  padding 0
  position relative
  z-index 500

.footer-menu
  flex 1 1 250px
  margin-bottom 35px
  padding 0

  &:nth-child(5)
    flex 1 1 523px

  &:nth-child(6)
    flex 1 1 250px

  &:nth-child(4)
  &:nth-child(7)
    flex 1 1 150px

.footer-menu .std
.footer-menu__email
  color white
  font-size 14px
  font-weight 400
  line-height 18px
  text-transform none

.footer-menu__phone
.footer-menu__support
  display block
  margin-bottom 20px

.menus-lane
  background-color $cor02

.wrapper
  .menus-lane
  .contact-lane
  .copyright-lane
    margin 0

.menus-lane__center
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 80px 0 10px

.footer-menu__title
  color white
  display block
  font-size 14px
  font-weight 700
  margin-bottom 25px
  text-transform uppercase

.mymenu

  .li--0:not(:last-child)
    margin-bottom 8px

  .a--0
    color white
    font-size 14px
    font-weight 400
    text-transform none
    transition all 150ms ease-in-out

    &:hover
      color $cor03

.footer-menu__phone
  color white
  font-size 14px
  font-weight 400
  text-transform none

.pays__list
.ships__list
  display flex
  flex-wrap wrap
  max-width none
  margin 0
  width 100%

.pays__item
.ships__item
  background-color white
  margin 0 !important
  padding 10px 5px



.pays__svg
.ships__svg
  border-radius 2px
  height 20px
  transition all 150ms ease-in-out
  width auto !important

  &:hover
    border-color $cor01

.likebox
  min-width 264px

.contact-lane__center
  border-bottom 1px solid #e1e1e1
  padding 40px 0

.contact-list
  align-items center
  display flex
  flex-wrap wrap
  justify-content space-between

.contact-list__item
  flex 0 0 auto

.contact-list__title
  color black
  display block
  font-size 14px
  font-weight 500
  letter-spacing .1px
  margin-bottom 4px

.contact-list__desc
  display block

  p
  a
    color #959595
    font-size 15px
    font-weight 500
    letter-spacing .1px
    line-height 1
    transition all 150ms ease-in-out

    &[href*="mailto"]
      font-size 14px

    &[target='_blank']:after
      display none

  a:hover
    color $cor01

.contact-list__item:before
  margin-right 12px

.icon--phone2
  &:before
    content svg-inline(phone2)

.icon--whats2
  &:before
    content svg-inline(whats2)

.icon--email
  &:before
    content svg-inline(email)

.icon--support
  &:before
    content svg-inline(support)


.copyright-lane
  background-color white
  display flex
  justify-content center

.copyright-lane__center
  align-items center
  display block
  justify-content space-between
  padding 15px 0

  > *
    flex 0 0 auto

.icon--logo2
  &:before
    content svg-inline(logo2)

.copyright
  .std
  .std p
    color #8a8a8a
    font-size 12px
    font-weight 400
    line-height 18px
    margin 0
    text-align center

.social__title
  color black
  display block
  font-size 14px
  font-weight 500
  letter-spacing .1px

.footer .socials
  margin-top 7px
  padding 0

.socials__list
  margin 0
  padding 0

.socials__item
  margin-right 5px !important
  padding 0

  &:last-child
    margin-right 0

.socials__link
  border 1px solid $cor01
  border-radius 50%
  display block
  padding 0
  transition all 150ms ease-in-out

  &:hover
    transform scale(1.1)

.socials__svg
  align-items center
  display flex
  height 30px
  justify-content center
  padding 6px
  width 30px

.safe
  min-width 240px


.footer .newsletter-lane .newsletter
  box-shadow none
  background-color $cor01
  margin 0
  padding 20px 30px

.newsletter__form .input-text
  color #c1c1c1
  font-size 14px
  font-weight 400
  height 37px
  border 0 none !important

  &:hover
  &:focus
    border 0 none !important

  &::placeholder
    font-style italic

.newsletter__submit
  flex 0 0 auto

  .newsletter__btn
    background $cor03
    color $cor01
    height 37px
    margin-left 5px
    padding 0
    width 100px

.ships__svg
  height 20px

.footer-menu .newsletter
  background-color transparent
  margin 0
  padding 0
  box-shadow none

.payment-lane
  display flex
  flex-wrap wrap
  width 100%

  > *
    flex 1 1 250px

    &:first-child
      flex 1 1 650px
