// Utils
@import './utils/reset'
@import './utils/variables'
@import './utils/default'
@import './utils/icons'


//Components
@import './components/header/desktop'
@import './components/header/responsive'
@import './components/footer/desktop'
@import './components/footer/responsive'
@import './components/banners/desktop'
@import './components/banners/responsive'
@import './components/home/desktop'
@import './components/home/responsive'
@import './components/modal/desktop'
@import './components/modal/responsive'
