// Utils
@import './utils/variables'
@import './utils/reset-biz'
@import './utils/default'
@import './utils/icons'


//Components
@import './components/header/desktop'
@import './components/header/responsive'
@import './components/showcases/desktop'
@import './components/showcases/responsive'
@import './components/footer/desktop'
@import './components/footer/responsive'
@import './components/banners/desktop'
@import './components/banners/responsive'
@import './components/cart/desktop'
@import './components/cart/responsive'
@import './components/category/desktop'
@import './components/category/responsive'
@import './components/checkout/desktop'
@import './components/checkout/responsive'
@import './components/home/desktop'
@import './components/home/responsive'
@import './components/product/desktop'
@import './components/product/responsive'
